{% extends 'base.html' %}
{% load static %}

{% block title %}
GPG System | Add CallMe Inventory
{% endblock %}

{% block dashboard_notif %}
{% endblock %}

{% block content %}
<div id="gpg-marketing" v-cloak>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h2 class="page-header">
                    Add Marketing Sites Inventory
                </h2>
            </div>
        </div>
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'users:home' %}">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Add Marketing Sites Inventory</li>
        </ol>
        <template v-if="loading">
            <div class="text-center">
                <i class="fa fa-spinner fa-spin"></i> Fetching data...
            </div>
        </template>
        <template v-else-if="!loading">
            <div class="col-md-6 col-md-offset-3">
                <form v-on:submit.prevent="addInventory">
                    {% csrf_token %}
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            Please fill up the informations below
                        </div>
                        <div class="panel-body">
                            <div class="form-group row">
                                <div class="form-group col-md-12 col-sm-12">
                                    <label>Date Requested</label>
                                    <input type="date" class="form-control" v-model="newInventory.date_requested"
                                        required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="form-group col-md-12 col-sm-12">
                                    <label>Date Completed</label>
                                    <input type="date" class="form-control" v-model="newInventory.date_completed">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="form-group col-md-12 col-sm-12">
                                    <label>Type of Marketing Sites</label>
                                    <select class="form-control" v-model="newInventory.type_of_form" required>
                                        <option>LandModo</option>
                                        <option>Zillow</option>
                                        <option>Craigslist</option>
                                        <option>Facebook MarketPlace</option>
                                        <option>KSL.com</option>
                                        <option>Ultimate Land Listings</option>
                                        <option>LandCentury</option>
                                        <option>Landhub</option>
                                        <option>Lands of America</option>
                                        <option>Landpin</option>
                                        <option>Landwatch</option>
                                        <option>Landflip</option>
                                        <option>Others</option>
                                    </select>
                                </div>
                            </div>
                            <div v-if="newInventory.type_of_form == 'Others'">
                                <div class="form-group row">
                                    <div class="form-group col-md-12 col-sm-12">
                                        <label>Please indicate if others</label>
                                        <input type="text" class="form-control" v-model="newInventory.indicate_others">
                                    </div>
                                </div>
                            </div>
                            {% if request.user.is_staffs %}
                            <div class="form-group row">
                                <div class="form-group col-md-12 col-sm-12">
                                    <label>Client Name</label>
                                    <select class="form-control" v-model="newInventory.client_full_name">
                                        <option v-for="client in clients">[[ client.full_name ]]</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="form-group col-md-12 col-sm-12">
                                    <label>Client Company Name</label>
                                    <input type="text" class="form-control" v-model="newInventory.client_company_name"
                                        required>
                                </div>
                            </div>
                            {% endif %}
                            <div class="form-group row">
                                <div class="form-group col-md-12 col-sm-12">
                                    <label>APN</label>
                                    <textarea class="form-control"
                                    cols="30" rows="10"
                                    v-model="newInventory.apn"></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="form-group col-md-12 col-sm-12">
                                    <label>Title of the Post</label>
                                    <textarea class="form-control" cols="30" rows="10"
                                        v-model="newInventory.title_of_the_post"></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="form-group col-md-12 col-sm-12">
                                    <label>Description</label>
                                    <textarea class="form-control"
                                    v-model="newInventory.description"
                                    cols="30" rows="10"></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="form-group col-md-12 col-sm-12">
                                    <label>Price</label>
                                    <input type="text" class="form-control" 
                                    @input="filterInput"
                                    @keypress="duration"
                                    v-model="newInventory.price"
                                    required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="form-group col-md-12 col-sm-12">
                                    <label>Location</label>
                                    <textarea class="form-control" cols="30" rows="10"
                                        v-model="newInventory.location"></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="form-group col-md-12 col-sm-12">
                                    <label>URL Link</label>
                                    <textarea class="form-control" cols="30" rows="10"
                                        v-model="newInventory.url_link"></textarea>
                                </div>
                            </div>
                            {% if request.user.is_client %}
                            <div class="form-group row">
                                <div class="form-group col-md-12 col-sm-12">
                                    <label>Marketing Associate</label>
                                    <select class="form-control" v-model="newInventory.marketing_associate" required>
                                        <option v-for="associate in staffs">[[ associate.full_name ]]</option>
                                    </select>
                                </div>
                            </div>
                            {% endif %}
                            <div class="form-group row">
                                <div class="form-group col-md-12 col-sm-12">
                                    <label>Duration</label>
                                    <input type="text" class="form-control" 
                                    @input="filterInput" @keypress="duration"
                                    v-model="newInventory.duration">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="form-group col-md-12 col-sm-12">
                                    <label>Status</label>
                                    <select class="form-control" v-model="newInventory.status" required>
                                        <option>In progress</option>
                                        <option>Complete</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="form-group col-md-12 col-sm-12">
                                    <label>Additional Notes</label>
                                    <textarea cols="30" rows="10" class="form-control"
                                        v-model="newInventory.additional_notes">
                            </textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="form-group col-md-12 col-sm-12">
                                    <label>Notes from the Client</label>
                                    <textarea cols="30" rows="10" class="form-control"
                                        v-model="newInventory.notes_from_the_client">
                            </textarea>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </template>
    </div>
</div>
{% endblock %}

{% block api %}
<script src="{% static 'vuejs/marketing.js' %}" type="text/javascript"></script>
{% endblock %}