{% extends 'base.html' %}

{% block title %}
GPG System | CallMe Master Board
{% endblock %}

{% block dashboard_notif %}
{% endblock %}

{% block content %}
{% if perms.callmemasterboard.view_masterboard %}
<div id="gpg-callme" v-cloak>
    <div id="content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <h2 class="page-header">
                        CallMe Master Board
                    </h2>
                </div>
            </div>
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'users:home' %}">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">CallMe Master Board</li>
                {% if perms.callmemasterboard.add_masterboard %}
                <li class="breadcrumb-item"><a href="{% url 'masterboard:add_masterboard' %}">Add Master Board </a></li>
                {% endif %}
            </ol>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            Table of CallMe Master board
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Date started</th>
                                            <th>Client name</th>
                                            <th>Company Name</th>
                                            <th>URL Buyer</th>
                                            <th>URL Seller</th>
                                            <th>URL Property Management</th>
                                            <th>Voice Mail</th>
                                            <th>General Calls</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <template v-if="loading">
                                                <td colspan="15" class="text-center bg-warning" v-if="loading">
                                                    Fetching data...
                                                </td>
                                            </template>
                                        </tr>
                                        <tr v-for="(masterboard, i) in paginatedMasterBoardRecords" v-if="!loading">
                                            <td>[[ masterboard.date_started ]]</td>
                                            <td>[[ masterboard.client_name ]]</td>
                                            <td>[[ masterboard.company_name ]]</td>
                                            <td>[[ masterboard.url_buyer ]]</td>
                                            <td>[[ masterboard.url_seller ]]</td>
                                            <td>[[ masterboard.url_property_management ]]</td>
                                            <td>[[ masterboard.voicemail ]]</td>
                                            <td>[[ masterboard.general_calls ]]</td>
                                            <td>
                                                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                                                    data-target="#editModal"
                                                    v-on:click="viewBoard(masterboard.id)">View
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <template v-else-if="!masterboard.length">
                                                <td colspan="15" class="text-center bg-warning">
                                                    No records found.
                                                </td>
                                            </template>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- pagination -->
                            <nav class="pagination-wrapper pull-right" v-if="endMasterBoardPage > 1">
                                <ul class="pagination justify-content-end">
                                    <li v-bind:class="[{disabled: currentMasterBoardPage === 1}, 'page-item']">
                                        <a class="page-link" tabindex="-1" v-on:click="goToMasterBoardPage(currentMasterBoardPage - 1)">
                                            Previous
                                        </a>
                                    </li>
                                    <li v-for="pageNumber in pagesMasterBoard"
                                        v-bind:class="[{active: pageNumber === currentMasterBoardPage}, 'page-item']">
                                        <a class="page-link" v-on:click="goToMasterBoardPage(pageNumber)">
                                            [[ pageNumber ]]
                                        </a>
                                    </li>
                                    <li v-bind:class="[{disabled: (currentMasterBoardPage * 1) === totalMasterBoardPages}, 'page-item']">
                                        <a class="page-link"
                                            v-on:click="goToMasterBoardPage(currentMasterBoardPage + 1)">
                                            Next
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                            <!-- end of pagination -->
                        </div>
                        <div class="panel-footer">
                            Total count: [[ masterboard.length ]]
                        </div>
                    </div>
                    <!-- /.col-lg-4 -->
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Information based on [[ currentBoards.client_name ]]</h4>
                </div>
                <form v-on:submit.prevent="updateBoard">
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-md-4 col-sm-12">
                            <label>Date started</label>
                            <input type="date" class="form-control form-control-sm"
                                v-model="currentBoards.date_started"
                                {% if perms.callmemasterboard.change_masterboard %}
                                {% else %} 
                                disabled
                                {% endif %}>
                        </div>
                        <div class="form-group col-md-8 col-sm-12">
                            <label>Type of Plan</label>
                            <input type="text" class="form-control form-control-sm"
                                v-model="currentBoards.type_of_plan" 
                                {% if perms.callmemasterboard.change_masterboard %}
                                {% else %}
                                disabled
                                {% endif %}>
                        </div>
                        <div class="form-group col-md-6 col-sm-12">
                            <label>Type of CRM</label>
                            <input type="text" class="form-control form-control-sm"
                                v-model="currentBoards.type_of_crm" {% if perms.callmemasterboard.change_masterboard %}
                                {% else %} 
                                disabled
                                {% endif %}>
                        </div>
                        <div class="form-group col-md-6 col-sm-12">
                            <label>Type of VIOP</label>
                            <input type="text" class="form-control form-control-sm"
                                v-model="currentBoards.type_of_voip" {% if perms.callmemasterboard.change_masterboard %}
                                {% else %} 
                                disabled
                                {% endif %}>
                        </div>
                        <div class="form-group col-md-6 col-sm-12">
                            <label>Client name</label>
                            <select class="form-control" v-model="currentBoards.client_name"
                                {% if perms.callmemasterboard.change_masterboard %}
                                {% else %} 
                                disabled
                                {% endif %}>
                                <option v-for="client in clients">[[ client.full_name ]]</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6 col-sm-12">
                            <label>Company name</label>
                            <input type="text" class="form-control form-control-sm"
                                v-model="currentBoards.company_name" {% if perms.callmemasterboard.change_masterboard %}
                                {% else %} 
                                disabled
                                {% endif %}>
                        </div>
                        <div class="form-group col-md-6 col-sm-12">
                            <label>Email</label>
                            <input type="text" class="form-control form-control-sm" v-model="currentBoards.email"
                                {% if perms.callmemasterboard.change_masterboard %} {% else %} disabled {% endif %}>
                        </div>
                        <div class="form-group col-md-6 col-sm-12">
                            <label>Phone</label>
                            <input type="text" class="form-control form-control-sm" v-model="currentBoards.phone"
                                {% if perms.callmemasterboard.change_masterboard %} {% else %} disabled {% endif %}>
                        </div>
                        <div class="form-group col-md-6 col-sm-12">
                            <label>URL Buyer</label>
                            <input type="url" class="form-control form-control-sm" v-model="currentBoards.url_buyer"
                                {% if perms.callmemasterboard.change_masterboard %}
                                {% else %} 
                                disabled
                                {% endif %}>
                        </div>
                        <div class="form-group col-md-6 col-sm-12">
                            <label>URL Seller</label>
                            <input type="url" class="form-control form-control-sm" v-model="currentBoards.url_seller"
                                {% if perms.callmemasterboard.change_masterboard %}
                                {% else %} 
                                disabled
                                {% endif %}>
                        </div>
                        <div class="form-group col-md-6 col-sm-12">
                            <label>URL Property Management</label>
                            <input type="url" class="form-control form-control-sm"
                                v-model="currentBoards.url_property_management"
                                {% if perms.callmemasterboard.change_masterboard %}
                                {% else %} 
                                disabled
                                {% endif %}>
                        </div>
                        <div class="form-group col-md-6 col-sm-12">
                            <label>Voicemail</label>
                            <input type="text" class="form-control form-control-sm"
                                v-model="currentBoards.voicemail" {% if perms.callmemasterboard.change_masterboard %}
                                {% else %} 
                                disabled
                                {% endif %}>
                        </div>
                        <div class="form-group col-md-12 col-sm-12">
                            <label>General Calls</label>
                            <input type="text" class="form-control form-control-sm" v-model="currentBoards.general_calls"
                                {% if perms.callmemasterboard.change_masterboard %}
                                {% else %} 
                                disabled
                                {% endif %}>
                        </div>
                        <div class="form-group col-md-12 col-sm-12">
                            <label>Notes</label>
                            <textarea class="form-control"
                            v-model="currentBoards.notes"
                            cols="30" rows="10"
                            {% if perms.callmemasterboard.change_masterboard %}
                            {% else %}
                            disabled
                            {% endif %}></textarea>
                        </div>
                        <div class="form-group col-md-6 col-sm-12">
                            <label>GS Integration</label>
                            <input type="text" class="form-control form-control-sm" v-model="currentBoards.gs_integration"
                                {% if perms.callmemasterboard.change_masterboard %} {% else %} disabled {% endif %}>
                        </div>
                        <div class="form-group col-md-6 col-sm-12">
                            <label>Client's Folder</label>
                            <input type="text" class="form-control form-control-sm" v-model="currentBoards.client_folder"
                                {% if perms.callmemasterboard.change_masterboard %} {% else %} disabled {% endif %}>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    {% if perms.callmemasterboard.change_masterboard %}
                    <template v-if="saving">
                        <button type="submit" class="btn btn-primary" disabled>Save changes</button>
                    </template>
                    <template v-else>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </template>
                    {% endif %}
                </div>
            </div>
        </form>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

</div>
{% else %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h2 class="page-header">
                View Master Board Records
            </h2>
        </div>
    </div>
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'users:home' %}">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">View Master Board Records</li>
    </ol>
    <div>
        <p>
            You don't have any permissions to view this part of the system. Contact your admin regarding this issue.
        </p>
    </div>
</div>
{% endif %}
{% endblock %}