{% extends 'base.html' %}

{% block title %}
GPG System | Franklin Management
{% endblock %}

{% block dashboard_notif %}
{% endblock %}

{% block content %}
<div id="content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h2 class="page-header">
                    Franklin Management
                </h2>
            </div>
        </div>
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'users:home' %}">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Franklin Management info page</li>
        </ol>
        <!-- /.Breadcrumbs -->
        {% for spiel in spiels %}
        <div class="alert alert-info text-center">
            {{ spiel.opening_spiel }}
        </div>
        {% endfor %}
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Seller information for Franklin Management
                </div>
                <div class="panel-body">
                    <div class="form-group col-md-12 col-sm-12">
                        <label>Call Date</label>
                        <input type="date" class="form-control" v-model="newFranklinManagements.call_date">
                    </div>
                    <div class="form-group col-md-12 col-sm-12">
                        <label>Customer Care Specialist</label>
                        <select class="form-control" v-model="newFranklinManagements.customer_care_specialist">
                            <option v-for="cc in customerCareSpecialist">[[ cc.name ]]</option>
                        </select>
                    </div>
                    <div class="form-group col-md-12 col-sm-12">
                        <label>Name</label>
                        <input type="text" class="form-control" v-model="newFranklinManagements.name">
                        <p class="help-block">What is your name?</p>
                    </div>
                    <div class="form-group col-md-12 col-sm-12">
                        <label>Property Owner</label>
                        <input type="text" class="form-control" v-model="newFranklinManagements.property_owner">
                        <p class="help-block">Are you the property owner listed on the deed?</p>
                    </div>
                    <div class="form-group col-md-12 col-sm-12">
                        <label>Other Owner</label>
                        <input type="text" class="form-control" v-model="newFranklinManagements.other_owner">
                        <p class="help-block">Are there any other owners listed on the deed?</p>
                    </div>
                    <div class="form-group col-md-12 col-sm-12">
                        <label>Phone Number</label>
                        <input type="text" class="form-control" v-model="newFranklinManagements.phone_number">
                        <p class="help-block">What is your phone number?</p>
                    </div>
                    <div class="form-group col-md-12 col-sm-12">
                        <label>Email Address</label>
                        <input type="text" class="form-control" v-model="newFranklinManagements.email_address">
                        <p class="help-block">What is your email?</p>
                    </div>
                    <div class="form-group col-md-12 col-sm-12">
                        <label>Road Access</label>
                        <input type="text" class="form-control" v-model="newFranklinManagements.road_access">
                        <p class="help-block">Does the property have road access?</p>
                    </div>
                    <div class="form-group col-md-12 col-sm-12">
                        <label>Property Currently Listed</label>
                        <input type="text" class="form-control" v-model="newFranklinManagements.property_currently_listed">
                        <p class="help-block">Is the property currently listed with a real estate agent?</p>
                    </div>
                    <div class="form-group col-md-12 col-sm-12">
                        <label>Utilities</label>
                        <input type="text" class="form-control" v-model="newFranklinManagements.utilities">
                        <p class="help-block">
                            Are there utilities available at the property?</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12">
            {% for spiel in spiels %}
            <div class="alert alert-warning text-center">
                {{ spiel.closing_spiel }}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}