<div class="modal-body">
    <div class="row">
        <div class="form-group col-md-6 col-sm-12">
            <label>Date Lead received</label>
            <input type="date" class="form-control form-control-sm" v-model="currentLeads.date_lead_received"
                {% if request.user.is_client %} disabled {% elif request.user.is_staffs %} {% endif %}>
        </div>
        <div class="form-group col-md-6 col-sm-12">
            <label>Lead Source</label>
            <select class="form-control" v-model="currentLeads.lead_source" {% if request.user.is_client %} disabled
                {% elif request.user.is_staffs %} {% endif %}>
                <option>Craiglists</option>
                <option>Facebook</option>
                <option>KSL.Com</option>
                <option>Website</option>
                <option>LandPin</option>
                <option>Zillow</option>
                <option>LandandFarm</option>
                <option>Lands of America</option>
                <option>Facebook</option>
                <option>Facebook Marketplace</option>
                <option>Property Control Center</option>
                <option>Neighbor Letters</option>
                <option>Mailchimp</option>
                <option>Landstay</option>
                <option>Instagram</option>
                <option>Twitter</option>
                <option>Others</option>
            </select>
        </div>
        <div class="form-group col-md-6 col-sm-12" v-if="currentLeads.lead_source == 'Others'">
            <label>If Type of Lead is "Others"</label>
            <input type="text" class="form-control form-control-sm" v-model="currentLeads.others"
                {% if request.user.is_client %} disabled {% elif request.user.is_staffs %} {% endif %}>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <label>Client</label>
            <select class="form-control" v-model="currentLeads.client" disabled>
                <option v-for="client in clients">[[ client.full_name ]] - [[ client.company_name ]]
                </option>
            </select>
        </div>
        <div class="form-group col-md-6 col-sm-12">
            <label>Virtual Assistant</label>
            <select class="form-control" v-model="currentLeads.virtual_assistant" disabled>
                <option v-for="staff in staffs">[[ staff.full_name ]]</option>
            </select>
        </div>
        <div class="form-group col-md-6 col-sm-12">
            <label>Type of Lead</label>
            <input type="text" class="form-control form-control-sm" v-model="currentLeads.type_of_lead"
                {% if request.user.is_client %} disabled {% elif request.user.is_staffs %} {% endif %}>
        </div>
        <div class="form-group col-md-6 col-sm-12">
            <label>Full name of Lead</label>
            <input type="text" class="form-control form-control-sm" v-model="currentLeads.full_name_of_lead"
                {% if request.user.is_client %} disabled {% elif request.user.is_staffs %} {% endif %}>
        </div>
        <div class="form-group col-md-6 col-sm-12">
            <label>Phone number</label>
            <input type="text" class="form-control form-control-sm" v-model="currentLeads.phone_number"
                {% if request.user.is_client %} disabled {% elif request.user.is_staffs %} {% endif %}>
        </div>
        <div class="form-group col-md-6 col-sm-12">
            <label>Email</label>
            <input type="text" class="form-control form-control-sm" v-model="currentLeads.email"
                {% if request.user.is_client %} disabled {% elif request.user.is_staffs %} {% endif %}>
        </div>
        <div class="form-group col-md-6 col-sm-12">
            <label>Lead Status</label>
            <select class="form-control" v-model="currentLeads.lead_status" {% if request.user.is_client %}
                {% elif request.user.is_staffs %} {% endif %}>
                <option>Dead Lead</option>
                <option>Hot Leads</option>
                <option>Requires Follow up</option>
                <option>Interested</option>
                <option>Not Interested</option>
                <option>Inquires Only</option>
                <option>Others</option>
                <option>Closed Sale</option>
            </select>
        </div>
        <div class="form-group col-md-12 col-sm-12">
            <label>Notes from Client</label>
            <textarea cols="30" rows="10" v-model="currentLeads.notes_from_client" class="form-control"
                {% if request.user.is_client %} {% elif request.user.is_staffs %} {% endif %}>
                                        </textarea>
        </div>
        <div class="form-group col-md-12 col-sm-12">
            <label>Additional notes</label>
            <textarea cols="30" rows="10" v-model="currentLeads.additional_notes" class="form-control"
                {% if request.user.is_client %} disabled {% elif request.user.is_staffs %} {% endif %}></textarea>
            </textarea>
        </div>
    </div>
</div>