{% extends 'base.html' %}
{% block title %}
GPG System | View Payroll
{% endblock %}
{% block dashboard_notif %}
{% endblock %}
    {% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">
                Payroll of {{ request.user.staffs.full_name }}
            </h2>
        </div>
    </div>
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'users:home' %}">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">List of your Payroll</li>
    </ol>
    <div id="gpg-payroll" v-cloak>
        <form method="GET" class="form-inline">
            <div class="form-group mx-sm-3 mb-2" style="margin-bottom:20px;">
                <label>Choose a month:</label>
                <select name="search" class="form-control" v-model="search_month">
                    <option value="01">January</option>
                    <option value="02">February</option>
                    <option value="03">March</option>
                    <option value="04">April</option>
                    <option value="05">May</option>
                    <option value="06">June</option>
                    <option value="07">July</option>
                    <option value="08">August</option>
                    <option value="09">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                </select>
                <button type="submit" class="btn btn-primary" v-on:click.prevent="searchMonthPayroll">Search</button>
            </div>
        </form>
        <div id="content-wrapper">
            <div class="col-md-12 col-sm-12">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        List of Payroll for <strong>{{ request.user.staffs.full_name }}</strong>
                    </div>
                    <div class="panel-body">
                        <div class="alert alert-info text-center">
                            Only the Payrolls that has the status of <strong>Approved by the Manager</strong> are shown
                            here.
                        </div>
                        <h4 class="pull-right">Total salary: [[ totalSalary ]]</h4>
                        <table class="table table-bordered table-hover">
                            <thead>
                                <th>Date</th>
                                <th>Name</th>
                                <th>Client name</th>
                                <th>Time In</th>
                                <th>Time Out</th>
                                <th>Total Hours</th>
                                <th>Rate</th>
                                <th>Salary</th>
                                <th>Notes</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="15" class="text-center bg-warning" v-if="!payrolls.length">You don't
                                        have any Payroll
                                        as of now. Try working!</td>
                                </tr>
                                <tr v-for="(payrolls, i) in paginatedRecords">
                                    <td>[[ payrolls.date ]]</td>
                                    <td>[[ payrolls.virtual_assistant ]]</td>
                                    <td>[[ payrolls.client_name ]]</td>
                                    <td>[[ payrolls.time_in ]]</td>
                                    <td>[[ payrolls.time_out ]]</td>
                                    <td>[[ payrolls.hours ]]</td>
                                    <td>[[ payrolls.rate ]]</td>
                                    <td>[[ payrolls.salary ]]</td>
                                    <td>[[ payrolls.notes ]]</td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- pagination -->
                        <nav class="pagination-wrapper pull-right" v-if="endPage > 1">
                            <ul class="pagination justify-content-end">
                                <li v-bind:class="[{disabled: currentPage === 1}, 'page-item']">
                                    <a class="page-link" tabindex="-1" v-on:click="goToPage(currentPage - 1)">
                                        Previous
                                    </a>
                                </li>
                                <li v-for="pageNumber in pages"
                                    v-bind:class="[{active: pageNumber === currentPage}, 'page-item']">
                                    <a class="page-link" v-on:click="goToPage(pageNumber)">
                                        [[ pageNumber ]]
                                    </a>
                                </li>
                                <li v-bind:class="[{disabled: (currentPage * 1) === totalPages}, 'page-item']">
                                    <a class="page-link" v-on:click="goToPage(currentPage + 1)">
                                        Next
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <!-- end of pagination -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
