{% extends 'base.html' %}
{% block title %}
<title>Senior Manager's Tab</title>
{% endblock %}

{% block dashboard_notif %}
{% endblock %}

{% block content %}
<div class="row">
</div>
<!-- Breadcrumbs-->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
  <a href="{% url 'users:home' %}">Dashboard</a>
  </li>
  <li class="breadcrumb-item active">Update job request Tab</li>
</ol>
<div id="gpg-job-request" style="width: 100%;" v-cloak>
  <div class="row">
      <div class="col-lg-12">
          <div class="panel panel-default">
              <div class="panel-heading">
                  Job Request Information Table
              </div>
              <div class="form-inline my-2 my-lg-0 pull-right" style="margin: 10px;">
                <input class="form-control mr-sm-2" type="text" placeholder="Search here.." v-model="search_term" aria-label="Search" required />
                <button class="btn btn-primary my-2 my-sm-0" v-on:click.prevent="getJobRequests()">Search</button>
              </div>
              <!-- /.panel-heading -->
              <div class="panel-body">
                  <table width="100%" class="table table-striped table-bordered table-hover jobRequestTable" id="jobRequestTable">
                      <thead>
                          <tr>
                              <th>Date</th>
                              <th>Due date</th>
                              <th>Client Code</th>
                              <th>Job Request Title</th>
                              <th>Job Request sent Via</th>
                              <th>Job Request Instruction</th>
                              <th>Total hours and minutes allocated</th>
                              <th>Project Managers</th>
                              <th>VA admin support</th>
                              <th>Status of the job request</th>
                              <th>Notes and coaching from project manager</th>
                          </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td colspan="14" class="text-center bg-warning" v-if="!jobRequests.length">You can use "Date", "Client Code" or "VA admin support" to search a data to update/delete.</td>
                        </tr>
                          <tr class="odd gradeX" v-for="job in jobRequests">
                            <td>[[ job.date ]]</td>
                            <td>[[ job.due_date ]]</td>
                            <td>[[ job.client_code ]]</td>
                            <td>[[ job.job_request_title ]]</td>
                            <td>[[ job.job_request_sent_via ]]</td>
                            <td>[[ job.job_request_instruction ]]</td>
                            <td>[[ job.total_hours_minutes_allocated ]]</td>
                            <td>[[ job.project_managers ]]</td>
                            <td>[[ job.VA_admin_support ]]</td>
                            <td>[[ job.status ]]</td>
                            <td>[[ job.notes_and_coaching_from_project_manager ]]</td>
                            {% if perms.jobrequest.change_jobrequest %}
                            <td><button type="button" class="btn btn-warning" data-toggle="modal" data-target="#editModal" v-on:click="getJobRequest(job.id)">
                              Edit
                            </button></td>
                            {% endif %}
                            {% if perms.jobrequest.delete_request %}
                            <td><button type="button" class="btn btn-danger" v-on:click="deleteJobRequest(job.id)">Delete</button></td>
                            {% endif %}
                          </tr>
                      </tbody>
                  </table>
                  <!-- /.table-responsive -->
              </div>
              <!-- /.panel-body -->
          </div>
          <!-- /.panel -->
      </div>
      <!-- /.col-lg-12 -->
  </div>
  <!-- row -->

    <!-- Modal -->
    <div class="modal fade bd-example-modal" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog modal-" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Edit information</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form v-on:submit.prevent="updateJobRequest()">
            {% csrf_token %}
          <div class="modal-body">
            <div class="form-group">
              <label for="brand_name">Client Code</label>
              <input
                class="form-control"
                id="brand_name"
                placeholder="Enter client's company name"
                v-model="currentJobRequest.client_code"
                required="required"
                autocomplete="off" />
            </div>
            <div class="form-group">
              <label>Job Request title</label>
              <input
              type="text"
              class="form-control"
              v-model="currentJobRequest.job_request_title"
              autocomplete="off" />
            </div>
            <div class="form-group">
              <label>Job request sent via</label>
              <input type="text"
              class="form-control"
              v-model="currentJobRequest.job_request_sent_via"
              autocomplete="off" />
            </div>
            <div class="form-group">
              <label>Status of the job request</label>
              <select class="form-control" v-model="currentJobRequest.status" >
                <option>Complete</option>
                <option>in Progress</option>
                <option>For Final Review</option>
                <option>Job Request Sent to VA</option>
                <!--<option v-for="status in statusOfTheJobRequests">[[ status.type_of_status ]]</option>-->
              </select>
            </div>
            <div class="form-group">
              <label> Project Managers </label>
              <select class="form-control" v-model="currentJobRequest.project_managers" >
                <option v-for="pm in projectManagers">[[pm.project_manager]]</option>
              </select>
            </div>
            <div class="form-group">
              <label>VA admin support</label>
              <input type="text"
               class="form-control"
               v-model="currentJobRequest.VA_admin_support"
               autocomplete="off" />
            </div>
            <div class="form-group">
              <label>Job Request instruction</label>
              <textarea
               class="form-control"
               rows="8"
               cols="80"
               v-model="currentJobRequest.job_request_instruction"
               autocomplete="off"></textarea>
            </div>
            <div class="form-group">
              <label>Notes and coaching from Project Manager</label>
              <textarea
              class="form-control"
              rows="8"
              cols="80"
              v-model="currentJobRequest.notes_and_coaching_from_project_manager"
              autocomlete="off" ></textarea>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
          </form>
          </div>
        </div>
      </div>
    <!-- end of modal -->

</div>
<!-- gpg app -->
</div>

{% endblock %}
