{% extends 'base.html' %}
{% block title %}
GPG System | CallMe Inventory
{% endblock %}

{% block dashboard_notif %}
{% endblock %}

{% block content %}
{% if perms.callmeinventory.view_inventory %}
<div id="gpg-callme" v-cloak>
<div id="content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h2 class="page-header">
                    CallMe Inventory Informations
                </h2>
            </div>
        </div>
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'users:home' %}">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">CallMe Inventory</li>
            {% if perms.callmeinventory.add_inventory %}
            <li class="breadcrumb-item"><a href="{% url 'callmeinventory:add_inventory' %}">Add Inventory </a></li>
            {% endif %}
        </ol>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        Table of CallMe Inventory
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Transferred Date</th>
                                        <th>Date Lead received</th>
                                        <th>Type of Form</th>
                                        <th>Client name</th>
                                        <th>Client Company name</th>
                                        <th>Name of Lead</th>
                                        <th>Customer Representative</th>
                                        <th>Financial Status</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <template v-if="loading">
                                            <td colspan="15" class="text-center bg-warning" v-if="loading">
                                                Fetching data...
                                            </td>
                                        </template>
                                        <template v-else-if="!inventory.length">
                                            <td colspan="15" class="text-center bg-warning">
                                                No records found.
                                            </td>
                                        </template>
                                    </tr>
                                    <tr v-for="(inventory, i) in paginatedInventoryRecords">
                                        <td>[[ inventory.transferred_date ]]</td>
                                        <td>[[ inventory.date_lead_received ]]</td>
                                        <td>[[ inventory.type_of_form ]]</td>
                                        <td>[[ inventory.client_full_name ]]</td>
                                        <td>[[ inventory.client_company_name ]]</td>
                                        <td>[[ inventory.full_name_of_lead ]]</td>
                                        <td>[[ inventory.customer_representative ]]</td>
                                        <td>[[ inventory.financial_status ]]</td>
                                        <td>
                                            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                                                data-target="#editModal" v-on:click="viewInventory(inventory.id)">View
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- pagination -->
                        <nav class="pagination-wrapper pull-right" v-if="endInventoryPage > 1">
                            <ul class="pagination justify-content-end">
                                <li v-bind:class="[{disabled: currentInventoryPage === 1}, 'page-item']">
                                    <a class="page-link" tabindex="-1" v-on:click="goToInventoryPage(currentInventoryPage - 1)">
                                        Previous
                                    </a>
                                </li>
                                <li v-for="pageNumber in pagesInventory"
                                    v-bind:class="[{active: pageNumber === currentInventoryPage}, 'page-item']">
                                    <a class="page-link" v-on:click="goToInventoryPage(pageNumber)">
                                        [[ pageNumber ]]
                                    </a>
                                </li>
                                <li
                                    v-bind:class="[{disabled: (currentInventoryPage * 1) === totalInventoryPages}, 'page-item']">
                                    <a class="page-link" v-on:click="goToInventoryPage(currentInventoryPage + 1)">
                                        Next
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <!-- end of pagination -->
                    </div>
                    <div class="panel-footer">
                        Total count: [[ inventory.length ]]
                    </div>
                </div>
                <!-- /.col-lg-4 -->
            </div>
        </div>

        <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <form v-on:submit.prevent="updateInventory">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Inventory Informations for [[
                            currentInventories.client_full_name ]]</h4>
                    </div>
                    <form v-on:submit.prevent="updateInventory">
                        {% csrf_token %}
                        <div class="modal-body">
                            <div class="row">
                                <div class="form-group col-md-6 col-sm-12">
                                    <label>Date Lead received</label>
                                    <input type="date" class="form-control form-control-sm"
                                        v-model="currentInventories.date_lead_received"
                                        {% if perms.inventory.change_callme %}
                                        {% else %}
                                        disabled
                                        {% endif %}>
                                </div>
                                <div class="form-group col-md-6 col-sm-12">
                                    <label>Type of Form</label>
                                    <select class="form-control" v-model="currentInventories.type_of_form" 
                                    {% if perms.inventory.change_callme %}
                                        {% else %}
                                        disabled
                                        {% endif %}>
                                        <option>Buyers</option>
                                        <option>Sellers</option>
                                        <option>General Call</option>
                                        <option>Voicemail</option>
                                        <option>Property Management</option>
                                        <option>Others</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6 col-sm-12">
                                    <label>Client Full Name</label>
                                    <select class="form-control"{% if perms.inventory.change_callme %}
                                        {% else %}
                                        disabled
                                        {% endif %}>
                                        <option v-for="client in clients">[[ client.full_name ]]</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6 col-sm-12">
                                    <label>Client Company Name</label>
                                    <input type="text" class="form-control form-control-sm"
                                        v-model="currentInventories.client_company_name" {% if perms.inventory.change_callme %}
                                        {% else %}
                                        disabled
                                        {% endif %}>
                                </div>
                                <div class="form-group col-md-6 col-sm-12">
                                    <label>Name of the Lead</label>
                                    <input type="text" class="form-control form-control-sm"
                                        v-model="currentInventories.full_name_of_lead" {% if perms.inventory.change_callme %}
                                        {% else %}
                                        disabled
                                        {% endif %}>
                                </div>
                                <div class="form-group col-md-6 col-sm-12">
                                    <label>Phone number</label>
                                    <input type="text" class="form-control form-control-sm"
                                        v-model="currentInventories.phone_number" {% if perms.inventory.change_callme %}
                                        {% else %}
                                        disabled
                                        {% endif %}>
                                </div>
                                <div class="form-group col-md-6 col-sm-12">
                                    <label>Email</label>
                                    <input type="text" class="form-control form-control-sm"
                                        v-model="currentInventories.email" {% if perms.inventory.change_callme %}
                                        {% else %}
                                        disabled
                                        {% endif %}>
                                </div>
                                <div class="form-group col-md-6 col-sm-12">
                                    <label>Customer Representative</label>
                                    <select class="form-control"
                                        v-model="currentInventories.customer_representative"
                                        {% if perms.inventory.change_callme %}
                                        {% else %}
                                        disabled
                                        {% endif %}>
                                    <option v-for="staff in staffs">[[ staff.full_name ]]</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6 col-sm-12">
                                    <label>Lead Transferred By</label>
                                    <select class="form-control" v-model="currentInventories.lead_transferred_by"
                                        {% if perms.inventory.change_callme %} {% else %} disabled {% endif %}>
                                        <option v-for="csr in staffs">[[ csr.full_name ]]</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6 col-sm-12">
                                    <label>Transferred Date</label>
                                    <input type="date" class="form-control form-control-sm"
                                        v-model="currentInventories.transferred_date" {% if perms.inventory.change_callme %}
                                        {% else %}
                                        disabled
                                        {% endif %}>
                                </div>
                                <div class="form-group col-md-6 col-sm-12">
                                    <label>Status</label>
                                    <select class="form-control" v-model="currentInventories.status"
                                        {% if perms.inventory.change_callme %} {% else %} disabled {% endif %}>
                                        <option>New</option>
                                        <option>Transferred to Podio - Personal Account</option>
                                        <option>Transferred to Land Speed</option>
                                        <option>Transferred to Investment Dominator</option>
                                        <option>Airtable</option>
                                        <option>Others</option>
                                    </select>
                                </div>
                                <div class="error" v-if="errored">

                                </div>
                                <div class="form-group col-md-6 col-sm-12">
                                    <label>Call Duration</label>
                                    <input type="number" step=".01" min="0" class="form-control form-control-sm"
                                        @input="filterInput"
                                        v-model="currentInventories.call_duration" {% if perms.inventory.change_callme %}
                                        {% else %}
                                        disabled
                                        {% endif %}>
                                </div>
                                <div class="form-group col-md-6 col-sm-12">
                                    <label>Total Time in transferring Leads</label>
                                    <input type="number" step=".01" min="0" class="form-control form-control-sm"
                                        @input="filterInput"
                                        v-model="currentInventories.total_time_transferring_leads"
                                        {% if perms.inventory.change_callme %}
                                        {% else %}
                                        disabled
                                        {% endif %}>
                                </div>
                                <div class="form-group col-md-12 col-sm-12">
                                    <label>Notes</label>
                                    <textarea cols="30" rows="10" v-model="currentInventories.notes"
                                    class="form-control"
                                    {% if perms.inventory.change_callme %}
                                        {% else %}
                                        disabled
                                        {% endif %}>
                                    </textarea>
                                </div>
                            </div>
                        </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        {% if perms.inventory.change_callme %}
                        <template v-if="saving">
                            <button type="submit" class="btn btn-primary" disabled>Save changes</button>
                        </template>
                        <template v-else>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </template>
                        {% endif %}
                    </div>
                </div>
                </form>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>

    </div>
</div>
</div>
{% else %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h2 class="page-header">
                View CallMe Inventory Records
            </h2>
        </div>
    </div>
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'users:home' %}">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">View CallMe Inventory Records</li>
    </ol>
    <div>
        <p>
            You don't have any permissions to view this part of the system. Contact your admin regarding this issue.
        </p>
    </div>
</div>
{% endif %}
{% endblock %}