{% extends 'base.html' %}
{% block title %}
GPG System | Reminders
{% endblock %}

{% block dashboard_notif %}
{% endblock %}


{% block content %}
<div id="content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h2 class="page-header">
                    Reminders for {{ request.user.staffs.full_name }}
                </h2>
            </div>
        </div>
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'users:home' %}">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Reminders Tab</li>
            <li class="breadcrumb-item"><a href="{% url 'reminders:add-reminders' %}">Add reminder</a></li>
        </ol>
        <div id="gpg-reminders" v-cloak>
            <div>
                <div class="alert alert-warning" v-if="!reminders.length">
                    You have no reminder for today, try <strong><a href="{% url 'reminders:add-reminders' %}"
                            class="alert-link">adding</a></strong> some reminders!
                </div>
            </div>
            <div v-for="reminder in reminders">
                <div class="col-md-4 col-sm-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            Your reminders for date <strong>[[ reminder.date ]]</strong>
                            <div class="pull-right">
                                <button type="button" class="btn btn-danger btn-sm fa fa-trash"
                                    v-on:click="deleteReminder(reminder.id)"></button>
                            </div>
                        </div>
                        <div class="panel-body">
                            <h4>Status</h4>
                            <p class="text-info">[[ reminder.status ]]</p>
                            <h4>Description</h4>
                            <blockquote>
                                <textarea class="form-control" cols="30" rows="5"
                                    disabled>[[ reminder.description ]]</textarea>
                            </blockquote>
                            <h4>Notes from the Company</h4>
                            <blockquote>
                                <textarea class="form-control" cols="30" rows="5"
                                    disabled>[[ reminder.notes_from_company ]]</textarea>
                            </blockquote>
                            <h4>Notes from the Manager</h4>
                            <blockquote>
                                <textarea class="form-control"
                                cols="30" rows="5" disabled>[[ reminder.notes_from_manager ]]</textarea>
                                
                            </blockquote>
                        </div>
                        <!-- /.panel-body -->
                        <div class="panel-footer">
                            Due date for this reminder is <strong>[[ reminder.due_date ]]</strong>
                        </div>
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-4 -->
            </div>
        </div>
    </div>
</div>
{% endblock %}