<hr>
<br>
<div class="form-row">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Closest major city</label>
        <div class="col-md-4 col-sm-12">
            <input type="text" class="form-control form-control-sm" v-model="newDueDiligence.closest_major_city"
                :disabled="loading == true">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Closest minor town</label>
        <div class="col-md-4 col-sm-12">
            <input type="text" class="form-control form-control-sm" v-model="newDueDiligence.closest_minor_town"
                :disabled="loading == true">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Nearby attractions</label>
        <div class="col-md-4 col-sm-12">
            <input type="text" class="form-control form-control-sm" v-model="newDueDiligence.nearby_attractions"
                :disabled="loading == true">
        </div>
    </div>
    <a class="btn btn-primary btn-next" href="#county-data" data-toggle="tab" type="button" style="float: right;">
        <span>Next</span> <i class="fa fa-angle-double-right"></i>
    </a>
    <a class="btn btn-warning btn-next" href="#land-data" data-toggle="tab" type="button" style="float: right;">
        <i class="fa fa-angle-double-left"></i> <span>Back</span>
    </a>
</div>