<hr>
<br>
<div class="form-row">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Owner's name</label>
        <div class="col-md-4 col-sm-12">
            <input type="text" class="form-control form-control-sm" v-model="newDueDiligence.owner_name"
                :disabled="loading == true">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Parcel Number</label>
        <div class="col-md-4 col-sm-12">
            <input type="text" class="form-control form-control-sm" v-model="newDueDiligence.parcel_number"
                :disabled="loading == true">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Account number</label>
        <div class="col-md-4 col-sm-12">
            <input type="text" class="form-control form-control-sm" v-model="newDueDiligence.account_number"
                :disabled="loading == true">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Property Address</label>
        <div class="col-md-8 col-sm-12">
            <textarea cols="30" rows="10" class="form-control" v-model="newDueDiligence.property_address"
                :disabled="loading == true"></textarea>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">County</label>
        <div class="col-md-4 col-sm-12">
            <input type="text" class="form-control form-control-sm" v-model="newDueDiligence.county"
                :disabled="loading == true">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Lot Number</label>
        <div class="col-md-4 col-sm-12">
            <input type="text" class="form-control form-control-sm" v-model="newDueDiligence.lot_number"
                :disabled="loading == true">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Legal Description</label>
        <div class="col-md-8 col-sm-12">
            <textarea cols="30" rows="10" class="form-control" v-model="newDueDiligence.legal_description"
                :disabled="loading == true"></textarea>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Parcel Size</label>
        <div class="col-md-4 col-sm-12">
            <input type="text" class="form-control form-control-sm" v-model="newDueDiligence.parcel_size"
                :disabled="loading == true">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">SubDivision</label>
        <div class="col-md-8 col-sm-12">
            <textarea cols="30" rows="10" class="form-control" v-model="newDueDiligence.subdivision"
                :disabled="loading == true"></textarea>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Parcel Dimensions</label>
        <div class="col-md-8 col-sm-12">
            <textarea cols="30" rows="10" class="form-control" v-model="newDueDiligence.parcel_dimensions"
                :disabled="loading == true"></textarea>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">GPS Coordinates</label>
        <div class="col-md-4 col-sm-12">
            <input type="text" class="form-control form-control-sm" v-model="newDueDiligence.gps_coordinates"
                :disabled="loading == true">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">GPS Coordinates 4 corners</label>
        <div class="col-md-4 col-sm-12">
            <input type="text" class="form-control form-control-sm" v-model="newDueDiligence.gps_coordinates_4_corners"
                :disabled="loading == true">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Google Map Link</label>
        <div class="col-md-4 col-sm-12">
            <input type="text" class="form-control form-control-sm" v-model="newDueDiligence.google_map_link"
                :disabled="loading == true">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Elevation</label>
        <div class="col-md-4 col-sm-12">
            <input type="text" class="form-control form-control-sm" v-model="newDueDiligence.elevation"
                :disabled="loading == true">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Assessed value</label>
        <div class="col-md-4 col-sm-12">
            <input type="text" class="form-control form-control-sm" v-model="newDueDiligence.assessed_value"
                :disabled="loading == true">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Access to Property</label>
        <div class="col-md-4 col-sm-12">
            <input type="text" class="form-control form-control-sm" v-model="newDueDiligence.access_to_property"
                :disabled="loading == true">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Structure</label>
        <div class="col-md-8 col-sm-12">
            <textarea cols="30" rows="10" class="form-control" v-model="newDueDiligence.structure"
                :disabled="loading == true"></textarea>
            <small class="form-text text-muted">Is there a Structure?</small>
        </div>
    </div>
    <a class="btn btn-primary btn-next" href="#adtl-data" data-toggle="tab" type="button" style="float: right;">
        <span>Next</span> <i class="fa fa-angle-double-right"></i>
    </a>
    <a class="btn btn-warning btn-next" href="#due-diligence" data-toggle="tab" type="button" style="float: right;">
        <i class="fa fa-angle-double-left"></i> <span>Back</span>
    </a>
</div>