<hr>
<br>
<div class="form-row">
    {% if request.user.is_client %}
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Level of Urgency</label>
        <div class="col-md-4 col-sm-12">
            <select class="form-control" v-model="newDueDiligence.level_of_urgency">
                <option>High</option>
                <option>Average</option>
                <option>Low</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Notes from the Client</label>
        <div class="col-md-10 col-sm-12">
            <textarea cols="30" rows="10" class="form-control" v-model="newDueDiligence.notes_from_the_client"
                :disabled="loading == true">
                                                                            </textarea>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Project Manager</label>
        <div class="col-md-2 col-sm-12">
            <select v-model="newDueDiligence.project_manager" class="form-control">
                <option v-for="pm in projectManagers">
                    [[ pm.project_manager ]]
                </option>
            </select>
        </div>
    </div>
    {% elif request.user.staffs %}
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Notes from the Land Master team</label>
        <div class="col-md-10 col-sm-12">
            <textarea class="form-control" cols="30" rows="10"
                v-model="newDueDiligence.notes_from_the_land_master_team"></textarea>
        </div>
    </div>
    {% endif %}
    <a class="btn btn-primary btn-next" href="#summary" data-toggle="tab" type="button" style="float: right;">
        <span>Next</span> <i class="fa fa-angle-double-right"></i>
    </a>
    <a class="btn btn-warning btn-next" href="#data-on-utilities" data-toggle="tab" type="button" style="float: right;">
        <i class="fa fa-angle-double-left"></i> <span>Back</span>
    </a>
</div>