<hr>
<br>
<div class="form-row">
    <div class="form-group row">
                                        <h3 class="title1 text-center">Summary</h3><br>
                                        <h4>Due Diligence</h4>
                                        <button type="button" class="btn btn-primary btn-xs pull-right"
                                            href="#due-diligence" data-toggle="tab">Change info</button>
                                        <hr>
                                        <label class="col-sm-2 col-form-label">Date Requested:</label>
                                        <div class="col-md-2 col-sm-12">
                                        <label>[[ newDueDiligence.date_requested ]]</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Due Date:</label>
                                        <div class="col-md-2 col-sm-12">
                                            <label>[[ newDueDiligence.due_date ]]</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Company Owner:</label>
                                        <div class="col-md-2 col-sm-12">
                                            <label>[[ newDueDiligence.company_owner_or_requestor ]]</label>
                                        </div>
                                    </div>
                                    <br>
                                    <h4>Land Data Informations</h4>
                                    <button type="button" class="btn btn-primary btn-xs pull-right" href="#land-data"
                                        data-toggle="tab">Change info</button>
                                    <hr>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Owner's name:</label>
                                        <div class="col-md-2 col-sm-12">
                                            <label>[[ newDueDiligence.owner_name ]]</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Parcel number:</label>
                                        <div class="col-md-2 col-sm-12">
                                            <label>[[ newDueDiligence.parcel_number ]]</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Account number:</label>
                                        <div class="col-md-2 col-sm-12">
                                            <label>[[ newDueDiligence.account_number ]]</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Property Address:</label>
                                        <div class="col-md-2 col-sm-12">
                                            <label>[[ newDueDiligence.property_address ]]</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">County:</label>
                                        <div class="col-md-2 col-sm-12">
                                            <label>[[ newDueDiligence.county ]]</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Lot number:</label>
                                        <div class="col-md-2 col-sm-12">
                                            <label>[[ newDueDiligence.lot_number ]]</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Legal Descrition:</label>
                                        <div class="col-md-2 col-sm-12">
                                            <label>[[ newDueDiligence.legal_description ]]</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Parcel Size:</label>
                                        <div class="col-md-2 col-sm-12">
                                            <label>[[ newDueDiligence.parcel_size ]]</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">GPS Coordinates:</label>
                                        <div class="col-md-2 col-sm-12">
                                            <label>[[ newDueDiligence.gps_coordinates ]]</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">GPS Coordinates 4 corners:</label>
                                        <div class="col-md-2 col-sm-12">
                                            <label>[[ newDueDiligence.gps_coordinates_4_corners ]]</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Google Map Link:</label>
                                        <div class="col-md-2 col-sm-12">
                                            <label>[[ newDueDiligence.google_map_link ]]</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Elevation:</label>
                                        <div class="col-md-2 col-sm-12">
                                            <label>[[ newDueDiligence.elevation ]]</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Assessed Value:</label>
                                        <div class="col-md-2 col-sm-12">
                                            <label>[[ newDueDiligence.assessed_value ]]</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Assessed Value:</label>
                                        <div class="col-md-2 col-sm-12">
                                            <label>[[ newDueDiligence.assessed_value ]]</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Access to Property:</label>
                                        <div class="col-md-2 col-sm-12">
                                            <label>[[ newDueDiligence.access_to_property ]]</label>
                                        </div>
                                    </div>
                                    <br>
                                    <h4>Additional Data</h4>
                                    <button type="button" class="btn btn-primary btn-xs pull-right" href="#additional-data"
                                        data-toggle="tab">Change info</button>
                                    <hr>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Closest Major City:</label>
                                        <div class="col-md-2 col-sm-12">
                                            <label>[[ newDueDiligence.closest_major_city ]]</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Closest minor town:</label>
                                        <div class="col-md-2 col-sm-12">
                                            <label>[[ newDueDiligence.closest_minor_town ]]</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Nearby attractions:</label>
                                        <div class="col-md-2 col-sm-12">
                                            <label>[[ newDueDiligence.nearby_attractions ]]</label>
                                        </div>
                                    </div>
                                    <br>
                                    <h4>County Data</h4>
                                    <button type="button" class="btn btn-primary btn-xs pull-right" href="#county-data"
                                        data-toggle="tab">Change info</button>
                                    <hr>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Assessor Website:</label>
                                        <div class="col-md-2 col-sm-12">
                                            <label>[[ newDueDiligence.assessor_website ]]</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Treasurer Website:</label>
                                        <div class="col-md-2 col-sm-12">
                                            <label>[[ newDueDiligence.treasurer_website ]]</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Reorder/Clerk Website:</label>
                                        <div class="col-md-2 col-sm-12">
                                            <label>[[ newDueDiligence.recorder_clerk_website ]]</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Zoning Department Website:</label>
                                        <div class="col-md-2 col-sm-12">
                                            <label>[[ newDueDiligence.zoning_department_website ]]</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">GIS Website:</label>
                                        <div class="col-md-2 col-sm-12">
                                            <label>[[ newDueDiligence.gis_website ]]</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">CAD Website:</label>
                                        <div class="col-md-2 col-sm-12">
                                            <label>[[ newDueDiligence.cad_website ]]</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Planning Department Contact:</label>
                                        <div class="col-md-2 col-sm-12">
                                            <label>[[ newDueDiligence.planning_department_contact ]]</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Reorder/Clerk Contact:</label>
                                        <div class="col-md-2 col-sm-12">
                                            <label>[[ newDueDiligence.recorder_clerk_contact ]]</label>
                                        </div>
                                    </div>
                                    <br>
                                    <h4>Tax Data</h4>
                                    <button type="button" class="btn btn-primary btn-xs pull-right" href="#tax-data"
                                        data-toggle="tab">Change info</button>
                                    <hr>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Back Taxes owed? If so, amount owed:</label>
                                        <div class="col-md-2 col-sm-12">
                                            <label>[[ newDueDiligence.back_taxes ]]</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Tax Liens? If so, amount owed:</label>
                                        <div class="col-md-2 col-sm-12">
                                            <label>[[ newDueDiligence.tax_liens ]]</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Annual Property Taxes:</label>
                                        <div class="col-md-2 col-sm-12">
                                            <label>[[ newDueDiligence.annual_property_taxes ]]</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Is property part of an HOA:</label>
                                        <div class="col-md-2 col-sm-12">
                                            <label>[[ newDueDiligence.is_property_part_of_an_hoa ]]</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Is so how much are the dues:</label>
                                        <div class="col-md-2 col-sm-12">
                                            <label>[[ newDueDiligence.how_much_dues ]]</label>
                                        </div>
                                    </div>
                                    <br>
                                    <h4>Zoning Data</h4>
                                    <button type="button" class="btn btn-primary btn-xs pull-right" href="#zoning-data"
                                        data-toggle="tab">Change info</button>
                                    <hr>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Zoning:</label>
                                        <div class="col-md-2 col-sm-12">
                                            <label>[[ newDueDiligence.zoning ]]</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Terrain Type:</label>
                                        <div class="col-md-2 col-sm-12">
                                            <label>[[ newDueDiligence.terrain_type ]]</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Property use code:</label>
                                        <div class="col-md-2 col-sm-12">
                                            <label>[[ newDueDiligence.property_use_code ]]</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">What can be built on the
                                            property:</label>
                                        <div class="col-md-2 col-sm-12">
                                            <label>[[ newDueDiligence.what_can_be_built ]]</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Time limit to build:</label>
                                        <div class="col-md-2 col-sm-12">
                                            <label>[[ newDueDiligence.time_limit_to_build ]]</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Can you camp on the property:</label>
                                        <div class="col-md-2 col-sm-12">
                                            <label>[[ newDueDiligence.can_camp ]]</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">RV's allowed on the property:</label>
                                        <div class="col-md-2 col-sm-12">
                                            <label>[[ newDueDiligence.rv_allowed ]]</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Mobile homes allowed on property:</label>
                                        <div class="col-md-2 col-sm-12">
                                            <label>[[ newDueDiligence.mobile_homes ]]</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Is the property in the flood zone
                                            area:</label>
                                        <div class="col-md-2 col-sm-12">
                                            <label>[[ newDueDiligence.is_property_flood_zone_area ]]</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Notes on mobile homes:</label>
                                        <div class="col-md-2 col-sm-12">
                                            <label>[[ newDueDiligence.notes_on_mobile_homes ]]</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Notes on Camping:</label>
                                        <div class="col-md-2 col-sm-12">
                                            <label>[[ newDueDiligence.notes_on_camping ]]</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Note's on RV's:</label>
                                        <div class="col-md-2 col-sm-12">
                                            <label>[[ newDueDiligence.note_on_rv ]]</label>
                                        </div>
                                    </div>
                                    <br>
                                    <h4>Data on Utilities</h4>
                                    <button type="button" class="btn btn-primary btn-xs pull-right" href="#data-on-utilities"
                                        data-toggle="tab">Change info</button>
                                    <hr>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Water:</label>
                                        <div class="col-md-2 col-sm-12">
                                            <label>[[ newDueDiligence.water ]]</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Sewer or Septic:</label>
                                        <div class="col-md-2 col-sm-12">
                                            <label>[[ newDueDiligence.sewer_or_septic ]]</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Power(Electricity):</label>
                                        <div class="col-md-2 col-sm-12">
                                            <label>[[ newDueDiligence.power ]]</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Gas:</label>
                                        <div class="col-md-2 col-sm-12">
                                            <label>[[ newDueDiligence.gas ]]</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Waste:</label>
                                        <div class="col-md-2 col-sm-12">
                                            <label>[[ newDueDiligence.waste ]]</label>
                                        </div>
                                    </div>
                                    <br>
                                    <h4>Notes</h4>
                                    <button type="button" class="btn btn-primary btn-xs pull-right" href="#notes"
                                        data-toggle="tab">Change info</button>
                                    <hr>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Notes:</label>
                                        <div class="col-md-2 col-sm-12">
                                            <label>[[ newDueDiligence.notes_from_the_client ]]</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Level of Urgency:</label>
                                        <div class="col-md-2 col-sm-12">
                                            <label>[[ newDueDiligence.level_of_urgency ]]</label>
                                        </div>
                                    </div>
</div>