<hr>
<br>
<div class="form-row">
    <div class="form-group row">
        <label class="col-md-2 col-form-label">Back Taxes owed? If so, amount owed.</label>
        <div class="col-md-4 col-sm-12">
            <input type="text" class="form-control form-control-sm" v-model="newDueDiligence.back_taxes"
                :disabled="loading == true">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-form-label">Tax Liens? If so, amount owed.</label>
        <div class="col-md-4 col-sm-12">
            <input type="text" class="form-control form-control-sm" v-model="newDueDiligence.tax_liens"
                :disabled="loading == true">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-form-label">Annual Property Taxes</label>
        <div class="col-md-4 col-sm-12">
            <input type="text" class="form-control form-control-sm" v-model="newDueDiligence.annual_property_taxes"
                :disabled="loading == true">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-form-label">Is property part of an HOA?</label>
        <div class="col-md-4 col-sm-12">
            <input type="text" class="form-control form-control-sm" v-model="newDueDiligence.is_property_part_of_an_hoa"
                :disabled="loading == true">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-form-label">Is so how much are the dues?</label>
        <div class="col-md-4 col-sm-12">
            <input type="text" class="form-control form-control-sm" v-model="newDueDiligence.how_much_dues"
                :disabled="loading == true">
        </div>
    </div>
    <a class="btn btn-primary btn-next" href="#zoning-data" data-toggle="tab" type="button" style="float: right;">
        <span>Next</span> <i class="fa fa-angle-double-right"></i>
    </a>
    <a class="btn btn-warning btn-next" href="#county-data" data-toggle="tab" type="button" style="float: right;">
        <i class="fa fa-angle-double-left"></i> <span>Back</span>
    </a>
</div>