{% extends 'base.html' %}
{% block title %}
<title>Senior Manager's Tab</title>
{% endblock %}

{% block content %}
<div id="gpg">
<div id="content-wrapper">
    <div class="container-fluid">

      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'users:home' %}">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Senior Manager's Tab</li>
      </ol>

      <!-- Page Content -->
      <h1>Client task Information</h1>
      <hr>
      <!-- DataTables Example -->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fas fa-table"></i>
          <div class="row float-right">
            <form class="d-none d-md-inline-block">
              <div class="input-group">
                <input type="text" class="form-control" v-model="search_term" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <!--<button class="btn btn-primary" type="button" v-on:click.prevent=getClients()>
                    <i class="fas fa-search"></i>
                  </button> -->
                </div>
              </div>
            </form>
          </div>

          </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Client's company name</th>
                  <th>Client's code</th>
                  <th>client's name</th>
                  <th>Client's phone number</th>
                  <th>Client's email</th>
                  <th>Client's project manager</th>
                  <th>Senior Manager</th>
                  <th>VA Assigned</th>
                  <th>Type of task</th>
                  <th>Status</th>
                  <th>Notes</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="client in clients">
                  <td>[[client.clients_company_name]]</td>
                  <td>[[client.client_code]]</td>
                  <td>[[client.client]]</td>
                  <td>[[client.client_phone_number]]</td>
                  <td>[[client.client_email]]</td>
                  <td>[[client.clients_project_manager]]</td>
                  <td>[[client.senior_manager]]</td>
                  <td>[[client.VA_assigned]]</td>
                  <td>[[client.type_of_task]]</td>
                  <td>[[client.status]]</td>
                  <td>[[client.notes]]</td>
                  <td><button type="button" class="btn btn-warning" data-toggle="modal" data-target="#editModal" v-on:click="getClient(client.id)">
                      Edit
                    </button></td>
                  <td><button type="button" class="btn btn-danger" v-on:click="deleteClient(client.id)">Delete</button></td>
                </tr>
              </tbody>
            </table>
              <!-- Modal -->
              <div class="modal fade bd-example-modal-lg" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Edit information</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <form v-on:submit.prevent="updateClient()">{% csrf_token %}
                    <div class="modal-body">
                      <div class="form-group">
                        <label for="brand_name">Client's Company name</label>
                        <input
                          class="form-control"
                          id="brand_name"
                          placeholder="Enter client's company name"
                          v-model="currentClient.clients_company_name"
                          required="required" >
                      </div>
                      <div class="form-group">
                        <label for="brand_name">Client's code</label>
                        <input
                          class="form-control"
                          id="brand_name"
                          placeholder="Enter client's code"
                          v-model="currentClient.client_code"
                          required="required" >
                      </div>
                      <div class="form-group">
                        <label for="client_name">Client name</label>
                            <select class="form-control" id="sel1" v-model="currentClient.client" >
                              <option v-for="client in clientNames">[[client.name]]</option>
                            </select>
                      </div>
                      <div class="form-group">
                        <label for="brand_name">Client's phone number</label>
                        <input
                          class="form-control"
                          id="brand_name"
                          placeholder="Enter client's phone number"
                          v-model="currentClient.client_phone_number"
                          required="required" >
                      </div>
                      <div class="form-group">
                        <label for="brand_name">Client's email</label>
                        <input
                          class="form-control"
                          id="brand_name"
                          placeholder="Enter client's email"
                          v-model="currentClient.client_email"
                          required="required" >
                      </div>
                      <div class="form-group">
                        <label for="client_name">Client's Project Manager</label>
                            <select class="form-control" id="sel1" v-model="currentClient.clients_project_manager" >
                              <option v-for="client in clientProjectManagers">[[client.project_manager]]</option>
                            </select>
                      </div>
                      <div class="form-group">
                        <label for="client_name">Senior Manager</label>
                            <select class="form-control" id="sel1" v-model="currentClient.senior_manager" >
                              <option v-for="client in clientSeniorManagers">[[client.name]]</option>
                            </select>
                      </div>
                      <div class="form-group">
                        <label for="client_name">VA assigned</label>
                            <select class="form-control" id="sel1" v-model="currentClient.VA_assigned" >
                              <option v-for="client in clientVA">[[client.full_name]]</option>
                            </select>
                      </div>
                      <div class="form-group">
                        <label for="client_name">Status</label>
                            <select class="form-control" id="sel1" v-model="currentClient.status" >
                              <option v-for="client in clientStatus">[[client.status]]</option>
                            </select>
                      </div>
                      <div class="form-group">
                        <label for="brand_name">Notes</label>
                        <textarea
                          class="form-control"
                          id="brand_name"
                          placeholder="Enter notes"
                          v-model="currentClient.notes"
                          required="required" >
                          </textarea>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                      </div>
                    </form>
                    </div>


                  </div>
                </div>
              </div>
              <!-- end of modal -->
          </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div>

    </div>

    </div>
        <!-- /.container-fluid -->
  </div>
  <!-- /.content-wrapper -->
  </div>

</div>
<!-- /#wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>
{% endblock %}
