{% extends 'base.html' %}
{% load static %}
{% block title %}
GPG System | Add Land Academy O2O Smart Pricing Records
{% endblock %}

{% block dashboard_notif %}
{% endblock %}

{% block content %}
{% if perms.landacademy.view_o20smartpricing or request.user.is_staffs %}

<div id="gpg-landacademy" v-cloak>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h2 class="page-header">
                    Add Land Academy O2O Smart Pricing Records
                </h2>
            </div>
        </div>
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'users:home' %}">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Add Land Academy O2O Smart Pricing Records</li>
        </ol>
        <div class="col-md-6 col-md-offset-3">
            <template v-if="loading">
                <div class="text-center">
                    <i class="fa fa-spinner fa-spin"></i> Fetching data...
                </div>
            </template>
            <template v-else-if="!loading">
            <form v-on:submit.prevent="addSmartPricing">
                {% csrf_token %}
                <div class="panel panel-info">
                    <div class="panel-heading">
                        Please fill up the informations below
                    </div>
                    <div class="panel-body">
                        <div class="form-group row">
                            <div class="form-group col-md-12 col-sm-12">
                                <label>Date Requested</label>
                                <input type="date" class="form-control" v-model="newSmartPricing.date_requested"
                                    >
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="form-group col-md-12 col-sm-12">
                                <label>Date Research</label>
                                <input type="date" class="form-control" v-model="newSmartPricing.date_research"
                                    >
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="form-group col-md-12 col-sm-12">
                                <label>Date Encoded</label>
                                <input type="date" class="form-control" v-model="newSmartPricing.date_encoded">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="form-group col-md-12 col-sm-12">
                                <label>Requestor Full name</label>
                                <input type="text" class="form-control"
                                    v-model="newSmartPricing.requestor_full_name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="form-group col-md-12 col-sm-12">
                                <label>Client LA Requestor</label>
                                <input type="text" class="form-control" v-model="newSmartPricing.client_la_requestor"
                                    required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="form-group col-md-12 col-sm-12">
                                <label>Quality Check Status</label>
                                <select class="form-control" v-model="newSmartPricing.quality_check_status">
                                    <option>Complete</option>
                                    <option>Complete Incorrect Data Input</option>
                                    <option>Others</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="form-group col-md-12 col-sm-12">
                                <label>Quality Specialist</label>
                                <select class="form-control" v-model="newSmartPricing.quality_specialist">
                                    <option v-for="staff in staffs">[[ staff.full_name ]]</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="form-group col-md-12 col-sm-12">
                                <label>Situs Address</label>
                                <input type="text" class="form-control" v-model="newSmartPricing.situs_address">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="form-group col-md-12 col-sm-12">
                                <label>Trulia</label>
                                <input type="text" class="form-control" v-model="newSmartPricing.trulia">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="form-group col-md-12 col-sm-12">
                                <label>Zillow</label>
                                <input type="text" class="form-control" v-model="newSmartPricing.zillow">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="form-group col-md-12 col-sm-12">
                                <label>Redfin</label>
                                <input type="text" class="form-control" v-model="newSmartPricing.redfin">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="form-group col-md-12 col-sm-12">
                                <label>RealFor</label>
                                <input type="text" class="form-control" v-model="newSmartPricing.realfor">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="form-group col-md-12 col-sm-12">
                                <label>RealtyTrac</label>
                                <input type="text" class="form-control" v-model="newSmartPricing.realtytrac">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="form-group col-md-12 col-sm-12">
                                <label>Order Name</label>
                                <input type="text" class="form-control" v-model="newSmartPricing.order_name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="form-group col-md-12 col-sm-12">
                                <label>Notes from QA</label>
                                <textarea cols="30" rows="10" class="form-control" 
                                v-model="newSmartPricing.notes_from_qa">
                                </textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="form-group col-md-12 col-sm-12">
                                <label>Notes from Researcher</label>
                                <textarea cols="30" rows="10" class="form-control"
                                    v-model="newSmartPricing.notes_from_researcher">
                                </textarea>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <template v-if="saving">
                        <button type="submit" class="btn btn-success" disabled>
                            <i class="fa fa-spinner fa-spin"></i> Saving...</button>
                        </template>
                        <template v-else>
                            <button type="submit" class="btn btn-success">Submit</button>
                        </template>
                    </div>
                </div>
            </form>
            </template>
        </div>
    </div>
</div>
{% else %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h2 class="page-header">
                Add Land Academy Inventory Records
            </h2>
        </div>
    </div>
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'users:home' %}">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Add Land Academy Inventory Records</li>
    </ol>
    <div>
        <p>
            You don't have any permissions to view this part of the system. Contact your admin regarding this issue.
        </p>
    </div>
</div>
{% endif %}
{% endblock %}

{% block api %}
<script src="{% static 'vuejs/landacademy.js' %}" type="text/javascript"></script>
{% endblock %}