{% extends 'base.html' %}
{% load static %}
{% block title %}
GPG System | View Land Academy Inventory Records
{% endblock %}

{% block dashboard_notif %}
{% endblock %}

{% block content %}
{% if perms.landacademy.view_o20smartpricing or request.user.is_staffs %}

<div id="gpg-landacademy" v-cloak>
    <div id="content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <h2 class="page-header">
                        View Land Academy Inventory Records
                    </h2>
                </div>
            </div>
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'users:home' %}">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">View Land Academy O2O Smart Pricing Records</li>
                {% if perms.landacademy.add_o20smartpricing %}
                <li class="breadcrumb-item"><a href="{% url 'landacademy:view_o2o' %}">Add Smart Pricing </a></li>
                {% endif %}
            </ol>
            <template v-if="loading">
                <div class="text-center">
                    <i class="fa fa-spinner fa-spin"></i> Fetching data...
                </div>
            </template>
            <template v-else-if="!loading">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="collapse multi-collapse" id="CollapseSearchCarrier">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                Advanced search
                            </div>
                            <div class="panel-body">
                                <form method="GET">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group col-md-2 col-sm-12">
                                            <label>Date Requested:</label>
                                            <input class="form-control form-control-sm" type="date"
                                                v-model="search_date_requested">
                                        </div>
                                        <div class="form-group col-md-2 col-sm-12">
                                            <label>Date Research:</label>
                                            <input class="form-control form-control-sm" type="date"
                                                v-model="search_date_research">
                                        </div>
                                        <div class="form-group col-md-2 col-sm-12">
                                            <label>Date Encoded:</label>
                                            <input class="form-control form-control-sm" type="date"
                                                v-model="search_date_encoded">
                                        </div>
                                        <div class="form-group col-md-2 col-sm-12">
                                            <label>Requestor:</label>
                                            <input class="form-control form-control-sm" type="text"
                                                v-model="search_requestor">
                                        </div>
                                        <div class="form-group col-md-2 col-sm-12">
                                            <label>Quality check status:</label>
                                            <select class="form-control" v-model="search_quality_check">
                                                <option>Complete</option>
                                                <option>Complete Incorrect Data Input</option>
                                                <option>Others</option>
                                            </select>
                                        </div>
                                        <div class="col-md-12 col-sm-12 pull-right">
                                            <button class="btn btn-primary" type="submit"
                                                v-on:click.prevent="advanceSearchSmartPricing"><i
                                                    class="fa fa-search"></i>
                                                Search</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            Table of Land Academy O2O Smart Pricing
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <div class="col-md-2 col-sm-12" v-if="!loading">
                                    <!-- <form action="GET"> -->
                                    <div class="form-group input-group">
                                        <input type="text" class="form-control" placeholder="Search..."
                                            v-model="search_requestor" @keyup.enter="normalSearchSmartPricing">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button"
                                                v-on:click.prevent="normalSearchSmartPricing"><i
                                                    class="fa fa-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                    <!-- </form> -->
                                </div>
                                <div class="pull-right">
                                    <a href="#CollapseSearchCarrier" data-toggle="collapse" role="button"
                                        aria-expanded="false" aria-controls="CollapseSearchCarrier"
                                        v-if="!loading">advanced
                                        search</a>
                                </div>
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th @click="sort('date_requested')">Date Requested</th>
                                            <th @click="sort('quality_specialist')">Quality Specialist</th>
                                            <th @click="sort('date_encoded')">Date Encoded</th>
                                            <th @click="sort('situs_address')">Situs Address</th>
                                            <th @click="sort('quality_check_status')">Quality Check Status</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <template v-if="loading">
                                                <td colspan="15" class="text-center bg-warning">
                                                    <i class="fa fa-spinner fa-spin"></i> Fetching data...
                                                </td>
                                            </template>
                                            <template v-else-if="searching">
                                                <td colspan="15" class="text-center bg-warning">
                                                    <i class="fa fa-spinner fa-spin"></i> Searching
                                                </td>
                                            </template>
                                            <template v-else-if="!smartpricing.length">
                                                <td colspan="15" class="text-center bg-warning">
                                                    No records found.
                                                </td>
                                            </template>
                                        </tr>
                                        <tr v-for="smartpricing in sortedSmartPricing">
                                            <td>[[ smartpricing.date_requested ]]</td>
                                            <td>[[ smartpricing.quality_specialist ]]</td>
                                            <td>[[ smartpricing.date_encoded ]]</td>
                                            <td>[[ smartpricing.situs_address ]]</td>
                                            <td>[[ smartpricing.quality_check_status ]]</td>
                                            <td>
                                                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                                                    data-target="#editModal"
                                                    v-on:click="viewSmartPricing(smartpricing.id)">View
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- pagination -->
                            <nav class="pagination-wrapper pull-right" v-if="endPage > 1">
                                <ul class="pagination justify-content-end">
                                    <li v-bind:class="[{disabled: currentPage === 1}, 'page-item']">
                                        <a class="page-link" tabindex="-1" v-on:click="prevPage">
                                            Previous
                                        </a>
                                    </li>
                                    <li v-for="pageNumber in totalPages"
                                        v-bind:class="[{active: pageNumber === currentPage}, 'page-item']"
                                        v-if="Math.abs(pageNumber - currentPage) < 3 || pageNumber == totalPages - 1 || pageNumber == 0">
                                        <a v-on:click="goToPage(pageNumber)"
                                            :class="{current: currentPage === pageNumber, last:(pageNumber == totalPages - 1 && Math.abs(pageNumber - currentPage) > 3), first:(pageNumber == 0 && Math.abs(pageNumber - currentPage) > 3)}">
                                            [[ pageNumber ]]</a>
                                    </li>
                                    <li v-bind:class="[{disabled: (currentPage * 1) === totalPages},
                                        'page-item']">
                                        <a class="page-link" v-on:click="nextPage">
                                            Next
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                            <!-- end of pagination -->
                        </div>
                        <div class="panel-footer">
                            Total count: [[ smartpricing.length ]]
                        </div>
                    </div>
                    <!-- /.col-lg-4 -->
                </div>
            </div>
            </template>
            <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <form v-on:submit.prevent="updateSmartPricing">
                        {% csrf_token %}
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"
                                    aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">O2O Smart Pricing Informations for invoice
                                    [[currentPricings.invoice ]]</h4>
                            </div>
                            <template v-if="viewing">
                                <div class="text-center">
                                    <i class="fa fa-spinner fa-spin"></i> Fetching data...
                                </div>
                            </template>
                            <template v-else-if="!viewing">
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="form-group col-md-6 col-sm-12">
                                            <label>Date Requested</label>
                                            <input type="date" class="form-control form-control-sm"
                                                v-model="currentPricings.date_requested"
                                                {% if perms.landacademy.change_o20smartpricing %} {% else %}
                                                disabled {% endif %}>
                                        </div>
                                        <div class="form-group col-md-6 col-sm-12">
                                            <label>Date Research</label>
                                            <input type="date" class="form-control form-control-sm"
                                                v-model="currentPricings.date_research"
                                                {% if perms.landacademy.change_o20smartpricing %} {% else %}
                                                disabled {% endif %}>
                                        </div>
                                        <div class="form-group col-md-6 col-sm-12">
                                            <label>Date Encoded</label>
                                            <input type="text" class="form-control"
                                                v-model="currentPricings.date_encoded"
                                                {% if perms.landacademy.change_o20smartpricing %} {% else %}
                                                disabled {% endif %}>
                                        </div>
                                        <div class="form-group col-md-6 col-sm-12">
                                            <label>Requestor Full Name</label>
                                            <input type="text" class="form-control form-control-sm"
                                                v-model="currentPricings.requestor_full_name"
                                                {% if perms.landacademy.change_o20smartpricing %} {% else %}
                                                disabled {% endif %}>
                                        </div>
                                        <div class="form-group col-md-6 col-sm-12">
                                            <label>Quality Check Status</label>
                                            <select class="form-control" v-model="currentPricings.quality_check_status"
                                                {% if perms.landacademy.change_o20smartpricing %} {% else %}
                                                disabled {% endif %}>
                                                <option>Complete</option>
                                                <option>Complete Incorrect Data Input</option>
                                                <option>Others</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-6 col-sm-12">
                                            <label>Quality Specialist</label>
                                            <input type="text" class="form-control form-control-sm"
                                                v-model="currentPricings.quality_specialist"
                                                {% if perms.landacademy.change_o20smartpricing %} {% else %}
                                                disabled {% endif %}>
                                        </div>
                                        <div class="form-group col-md-6 col-sm-12">
                                            <label>Researcher name</label>
                                            <input type="text" class="form-control form-control-sm"
                                                v-model="currentPricings.researcher_name"
                                                {% if perms.landacademy.change_o20smartpricing %} {% else %} disabled
                                                {% endif %}>
                                        </div>
                                        <div class="form-group col-md-6 col-sm-12">
                                            <label>Situs Address</label>
                                            <input type="text" class="form-control form-control-sm"
                                                v-model="currentPricings.situs_address"
                                                {% if perms.landacademy.change_o20smartpricing %} {% else %}
                                                disabled {% endif %}>
                                        </div>
                                        <div class="form-group col-md-6 col-sm-12">
                                            <label>Trulia</label>
                                            <input type="text" class="form-control form-control-sm"
                                                v-model="currentPricings.trulia" {% if perms.landacademy.change_o20smartpricing %} {% else %}
                                                disabled {% endif %}>
                                        </div>
                                        <div class="form-group col-md-6 col-sm-12">
                                            <label>Zillow</label>
                                            <input type="text" class="form-control form-control-sm"
                                                v-model="currentPricings.zillow"  {% if perms.landacademy.change_o20smartpricing %} {% else %}
                                                disabled {% endif %}>
                                        </div>
                                        <div class="form-group col-md-6 col-sm-12">
                                            <label>Redfin</label>
                                            <input type="text" class="form-control form-control-sm"
                                                v-model="currentPricings.redfin" {% if perms.landacademy.change_o20smartpricing %} {% else %}
                                                disabled {% endif %}>
                                        </div>
                                        <div class="form-group col-md-6 col-sm-12">
                                            <label>RealFor</label>
                                            <input type="text" class="form-control form-control-sm"
                                                v-model="currentPricings.realfor" {% if perms.landacademy.change_o20smartpricing %} {% else %}
                                                disabled {% endif %}>
                                        </div>
                                        <div class="form-group col-md-6 col-sm-12">
                                            <label>RealtyTrac</label>
                                            <input type="text" class="form-control form-control-sm"
                                                v-model="currentPricings.realtytrac" {% if perms.landacademy.change_o20smartpricing %} {% else %}
                                                disabled {% endif %}>
                                        </div>
                                        <div class="form-group col-md-6 col-sm-12">
                                            <label>Order Name</label>
                                            <input type="text" class="form-control form-control-sm"
                                                v-model="currentPricings.order_name"
                                                {% if perms.landacademy.change_o20smartpricing %} {% else %} disabled
                                                {% endif %}>
                                        </div>
                                        <div class="form-group col-md-12 col-sm-12">
                                            <label>Notes from Researcher</label>
                                            <textarea cols="30" rows="10"
                                                v-model="currentPricings.notes_from_researcher"
                                                class="form-control"
                                                {% if perms.landacademy.change_o20smartpricing %} {% else %}
                                                disabled {% endif %}>
                                            </textarea>
                                        </div>
                                        <div class="form-group col-md-12 col-sm-12">
                                            <label>Notes from QA</label>
                                            <textarea cols="30" rows="10" v-model="currentPricings.notes_from_qa"
                                                class="form-control" {% if perms.landacademy.change_o20smartpricing %}
                                                {% else %} disabled {% endif %}>
                                            </textarea>
                                        </div>
                                    </div>
                                </div>
                                </template>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    {% if perms.landacademy.change_o20smartpricing %}
                                    <template v-if="saving">
                                        <button type="submit" class="btn btn-primary" disabled>
                                            <i class="fa fa-spinner fa-spin"></i> Saving changes</button>
                                    </template>
                                    <template v-else>
                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                    </template>
                                    {% endif %}
                                </div>
                        </div>
                    </form>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>

        </div>
    </div>
</div>
{% else %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h2 class="page-header">
                View Land Academy O2O Smart Pricing Records
            </h2>
        </div>
    </div>
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'users:home' %}">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">View Land Academy O2O Smart Pricing Records</li>
    </ol>
    <div>
        <p>
            You don't have any permissions to view this part of the system. Contact your admin regarding this issue.
        </p>
    </div>
</div>
{% endif %}
{% endblock %}

{% block api %}
<script src="{% static 'vuejs/landacademy.js' %}" type="text/javascript"></script>
{% endblock %}