{% extends 'base.html' %}

{% block title %}
GPG Admin - Profile
{% endblock %}

{% block dashboard_notif %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Profile Tab</h1>
    </div>
</div>
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="{% url 'users:home' %}">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">
        View Profile
    </li>
</ol>

<div id="content-wrapper">
    <div class="container-fluid">
        <div class="col-md-12 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Client Information
                </div>
                <div class="panel-body">
                    <div class="col-md-12 col-sm-12">
                        <label>Company Category:</label>&nbsp;{{ request.user.clients.company_category }}
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <label>Name:</label>&nbsp;{{ request.user.clients.full_name }}
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <label>Company Name:</label>&nbsp;{{ request.user.clients.company_name }}
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <label>Phone number:</label>&nbsp;{{ request.user.clients.phone_number }}
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <label>Client Control Number:</label>&nbsp;{{ request.user.clients.client_control_number }}
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <label>Referred by:</label>&nbsp;{{ request.user.clients.referred_by }}
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <label>Lead Source:</label>&nbsp;{{ request.user.clients.lead_source }}
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <label>Internal Folder Link 1:</label>&nbsp;<a
                            href="{{ request.user.clients.internal_folder_link_1 }}" target="_blank">Your
                            internal folder 1 link</a>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <label>Internal Folder Link 2:</label>&nbsp;<a
                            href="{{ request.user.clients.internal_folder_link_2 }}" target="_blank">Your
                            internal folder 2 link</a>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <label>Internal Folder Link 3:</label>&nbsp;<a
                            href="{{ request.user.clients.internal_folder_link_3 }}" target="_blank">Your
                            internal folder 3 link</a>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    GPG Employee assigned to you
                </div>
                <div class="panel-body">
                    <div class="col-md-12 col-sm-12">
                        <label>Assigned Virtual Assistant:</label>&nbsp;{{ request.user.clients.assigned_va }}
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <label>Assigned Project Manager:</label>&nbsp;{{ request.user.clients.assigned_pm }}
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    Important Information
                </div>
                <div class="panel-body">
                    <div class="col-md-12 col-sm-12">
                        <label>Date Signed up:</label>&nbsp;{{ request.user.clients.date_signed_up }}
                    </div>
                    {% for client in clients %}
                    <div class="col-md-12 col-sm-12">
                        <label>Emails:</label>
                        <ul>
                            {% for email in client.email.all %} 
                              <li>{{ email }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <label>Paypal Email:</label>
                        <ul>
                            {% for paypal in client.paypal_email.all %} 
                                <li>{{ paypal }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <label>Website URLs Email:</label>
                        <ul>
                            {% for website in client.website_url.all %} 
                                <li>{{ website }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <label>Training URLs:</label> 
                        <ul>
                            {% for training in client.training_url.all %}
                                <li>{{ training }</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <label>Type of Task Request:</label>
                        <ul>
                            {% for training in client.type_of_task_request.all %} 
                                <li>{{ training }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <label>Type of Task Request:</label>
                        <ul>
                            {% for ch in client.channel_of_communications.all %} 
                                <li>{{ ch }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
