<div class="row">
    <div class="form-group col-md-4 col-sm-12">
        <label>Date Completed</label>
        <input type="date" class="form-control" v-model="currentDueDiligence.date_completed"
            {% if request.user.is_client %}disabled{% elif request.user.is_staffs %}{% endif %}>
    </div>
    <div class="form-group col-md-4 col-sm-12">
        <label>Due Diligence Status</label>
        <select class="form-control" v-model="currentDueDiligence.status_of_dd"
            {% if request.user.is_staffs %}{% elif request.user.is_client %}disabled{% endif %} required>
            <option>Sent to Project Manager</option>
            <option>Project Managers Review</option>
            <option>Sent to VA</option>
            <option>VA Processing</option>
            <option>Sent to Quality Specialist</option>
            <option>Quality Specialist Checking</option>
            <option>Submitted to the Client</option>
            <option>Approved by the Client</option>
        </select>
    </div>
    <div class="form-group col-md-4 col-sm-12">
        <label>County Operator's Details</label>
        <input type="text" class="form-control" v-model="currentDueDiligence.customer_care_specialist"
            {% if request.user.is_staffs %}{% elif request.user.is_client %}disabled{% endif %}>
        <small class="form-text text-muted">Customer Care
            Specialist or Operator ID, Assessors/County</small>
    </div>
    <div class="form-group col-md-12 col-sm-12">
        <label>Client Instructions</label>
        <textarea cols="30" rows="10" class="form-control" v-model="currentDueDiligence.notes_from_the_client"
            {% if request.user.is_staffs %}disabled{% elif request.user.is_client %}{% endif %}></textarea>
    </div>
    <div class="form-group col-md-12 col-sm-12">
        <label>Quality Specialists Evaluation</label>
        <textarea cols="30" rows="10" class="form-control"
            v-model="currentDueDiligence.notes_from_the_quality_specialist"
            {% if request.user.staffs.position == 'Project Managers' %}{% else %}disabled{% endif %}></textarea>
    </div>
    <div class="form-group col-md-12 col-sm-12">
        <label>VA Notes</label>
        <textarea cols="30" rows="10" class="form-control"
            v-model="currentDueDiligence.notes_from_the_virtual_assistant"
            {% if request.user.is_client %}disabled{% elif request.user.is_staffs %}{% endif %}></textarea>
    </div>
    <div class="form-group col-md-12 col-sm-12">
        <label>Zoning Memo</label>
        <textarea cols="30" rows="10" class="form-control" v-model="currentDueDiligence.notes_on_zoning"
            {% if request.user.is_client %}disabled{% elif request.user.is_staffs %}{% endif %}></textarea>
    </div>
    <div class="form-group col-md-12 col-sm-12">
        <label>Utilities Memo</label>
        <textarea cols="30" rows="10" class="form-control" v-model="currentDueDiligence.notes_on_utilities"
            {% if request.user.is_client %}disabled{% elif request.user.is_staffs %}{% endif %}></textarea>
    </div>
    <div class="form-group col-md-12 col-sm-12">
        <label>Tax Memo</label>
        <textarea cols="30" rows="10" class="form-control" v-model="currentDueDiligence.notes_on_tax"
            {% if request.user.is_client %}disabled{% elif request.user.is_staffs %}{% endif %}></textarea>
    </div>
</div>