<div class="row">
    <div class="form-group col-md-6 col-sm-12">
        <label>Date Completed for initial data - Time In </label>
        <div class='input-group date' id='datetimepickerinitialtimein'>
            <input type='text' class="form-control" v-model="currentDueDiligence.date_completed_initial_dd_time_in" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
    <div class="form-group col-md-6 col-sm-12">
        <label>Date Completed for initial data - Time Out </label>
        <div class='input-group date' id='datetimepickerinitialtimeout'>
            <input type='text' class="form-control" v-model="currentDueDiligence.date_completed_initial_dd_time_out" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
    <div class="form-group col-md-6 col-sm-12">
        <label>Date Completed for tax data - Time In </label>
        <div class='input-group date' id='datetimepickertaxtimein'>
            <input type='text' class="form-control" v-model="currentDueDiligence.date_completed_tax_data_time_in" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
    <div class="form-group col-md-6 col-sm-12">
        <label>Date Completed for tax data - Time Out </label>
        <div class='input-group date' id='datetimepickertaxtimeout'>
            <input type='text' class="form-control" v-model="currentDueDiligence.date_completed_tax_data_time_out" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
    <div class="form-group col-md-6 col-sm-12">
        <label>Date Completed for Zoning data - Time In </label>
        <div class='input-group date' id='datetimepickerzoningtimein'>
            <input type='text' class="form-control" v-model="currentDueDiligence.date_completed_zoning_data_time_in" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
    <div class="form-group col-md-6 col-sm-12">
        <label>Date Completed for Zoning data - Time out </label>
        <div class='input-group date' id='datetimepickerzoningtimeout'>
            <input type='text' class="form-control" v-model="currentDueDiligence.date_completed_zoning_data_time_out" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
    <div class="form-group col-md-6 col-sm-12">
        <label>Date Completed for Utilities - Time In</label>
        <div class='input-group date' id='datetimepickerutilitiestimein'>
            <input type='text' class="form-control" v-model="currentDueDiligence.date_completed_utilities_time_in" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
    <div class="form-group col-md-6 col-sm-12">
        <label>Date Completed for Utilities - Time Out</label>
        <div class='input-group date' id='datetimepickerutilitiestimeout'>
            <input type='text' class="form-control" v-model="currentDueDiligence.date_completed_utilities_time_out" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
    <div class="form-group col-md-6 col-sm-12">
        <label>Date Completed for Other Requests - Time In</label>
        <div class='input-group date' id='datetimepickerothertimein'>
            <input type='text' class="form-control"
                v-model="currentDueDiligence.date_completed_other_requests_time_in" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
    <div class="form-group col-md-6 col-sm-12">
        <label>Date Completed for Other Requests - Time Out</label>
        <div class='input-group date' id='datetimepickerothertimeout'>
            <input type='text' class="form-control"
                v-model="currentDueDiligence.date_completed_other_requests_time_out" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
</div>