{% extends 'base.html' %}
{% load templatetagname %}
{% block title %}
GPG System | View Due Diligence
{% endblock %}
{% block dashboard_notif %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            View Due Diligence work assigned
        </h1>
    </div>
</div>
{% endblock %}
{% block content %}
<br>
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="{% url 'users:home' %}">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">
        View Due Diligence work
    </li>
</ol>
<div id="gpg-land-master" v-cloak>
    <div id="content-wrapper">
        <div class="container-fluid">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Assigned Due Diligence work to Land Master Team
                    </div>
                    <div class="panel-body">
                        <div style="overflow-x: auto;">

                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Date Requested</th>
                                        <th>Due Date</th>
                                        <th>Date Completed</th>
                                        <th>Company Name</th>
                                        <th>Company Owner</th>
                                        <th>Parcel Number</th>
                                        <th>Project Manager</th>
                                        <th>VA assigned</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="14" class="text-center bg-warning" v-if="!dueDiligences.length">You have no Due Diligence work assigned to the Land Master Team.</td>
                                    </tr>
                                    <tr class="odd gradeX" v-for="(dueDiligences, i) in paginatedRecords">
                                        <td>[[ dueDiligences.date_requested ]]</td>
                                        <td>[[ dueDiligences.due_date ]]</td>
                                        <td>[[ dueDiligences.date_completed ]]</td>
                                        <td>[[ dueDiligences.company_name ]]</td>
                                        <td>[[ dueDiligences.company_owner_or_requestor ]]</td>
                                        <td>[[ dueDiligences.parcel_number ]]</td>
                                        <td>[[ dueDiligences.project_manager ]]</td>
                                        <td>[[ dueDiligences.dd_team_assigned_va ]]</td>
                                        <td>[[ dueDiligences.status_of_dd ]]</td>
                                        <td><button class="btn btn-primary" type="button" data-toggle="modal"
                                                data-target="#editModal"
                                                data-placement="top" title="View Information for this work"
                                                v-on:click="viewDueDiligence(dueDiligences.id)"><i class="fa fa-eye"></i></button>
                                            {% if request.user.is_client %}    
                                            <button class="btn btn-success" type="button" data-toggle="modal"
                                                data-target="#timeModal"
                                                data-placement="top" title="View Time sheet"
                                                v-on:click="viewDueDiligence(dueDiligences.id)"><i
                                                    class="fa fa-clock-o"></i></button>
                                            <button class="btn btn-info" type="button" data-toggle="modal"
                                                data-target="#teamModal"
                                                data-placement="top" title="View Team Assigned"
                                                v-on:click="viewDueDiligence(dueDiligences.id)"><i
                                                    class="fa fa-users"></i></button>
                                            {% endif %}
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- pagination -->
                        <nav class="pagination-wrapper pull-right" v-if="endPage > 1">
                            <ul class="pagination justify-content-end">
                                <li v-bind:class="[{disabled: currentPage === 1}, 'page-item']">
                                    <a class="page-link" tabindex="-1" v-on:click="goToPage(currentPage - 1)">
                                        Previous
                                    </a>
                                </li>
                                <li v-for="pageNumber in pages"
                                    v-bind:class="[{active: pageNumber === currentPage}, 'page-item']">
                                    <a class="page-link" v-on:click="goToPage(pageNumber)">
                                        [[ pageNumber ]]
                                    </a>
                                </li>
                                <li v-bind:class="[{disabled: (currentPage * 1) === totalPages}, 'page-item']">
                                    <a class="page-link" v-on:click="goToPage(currentPage + 1)">
                                        Next
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <!-- end of pagination -->
                    </div>
                    <!-- show a specific info based on view -->

                    <!-- Modal -->
                    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                        aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Due Diligence information for [[ currentDueDiligence.company_name ]]</h4>
                                </div>
                                <div class="modal-body">
                                    <form v-on:submit.prevent="updateDueDiligence">
                                        <div class="modal-body">
                                        </div>
                                        <div class="panel-group" id="accordion">
                                            <div class="panel panel-primary">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordion"
                                                            href="#collapseOne">Due Diligence work Information for [[
                                                            currentDueDiligence.company_name ]]</a>
                                                    </h4>
                                                </div>
                                                <div id="collapseOne" class="panel-collapse collapse in">
                                                    <div class="panel-body">
                                                        {% include 'landmaster/view_dd_info.html' %}
                                                    </div>
                                                </div>
                                            </div>
                                            {% if request.user.is_staffs %}
                                            <div class="panel panel-success">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordion"
                                                            href="#collapseTwo">Time Sheet informations for Parcel
                                                            Number <strong>[[ currentDueDiligence.parcel_number
                                                                ]]</strong></a>
                                                    </h4>
                                                </div>
                                                <div id="collapseTwo" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                        {% include 'landmaster/time_due.html' %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-info">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordion"
                                                            href="#collapseThree">VA assigned Information for Parcel
                                                            number [[
                                                            currentDueDiligence.parcel_number ]]</a>
                                                    </h4>
                                                </div>
                                                <div id="collapseThree" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                        {% include 'landmaster/team_assigned.html' %}
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-info"
                                                data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                    <!-- /.modal -->

                    <!-- Modal for time in -->
                    <div class="modal fade" id="timeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                        aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Time Information for Parcel number [[ currentDueDiligence.parcel_number ]]</h4>
                                </div>
                                    <div class="modal-body">
                                        <div class="panel panel-success">
                                            <div class="panel-heading">
                                                Total Time Duration informations
                                            </div>
                                            <div class="panel-body">
                                                {% include 'landmaster/total_time_due.html' %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                    <!-- /.modal -->

                    <!-- Modal for dd team asssigned -->
                    <div class="modal fade" id="teamModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                        aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">VA assigned Information for Parcel number [[
                                        currentDueDiligence.parcel_number ]]</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            Team of VAs assigned for each tasks
                                        </div>
                                        <div class="panel-body">
                                            {% include 'landmaster/team_assigned.html' %}
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                    <!-- /.modal -->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}