{% extends 'base.html' %}
{% load templatetagname %}
{% block title %}
GPG System | View Due Diligence
{% endblock %}
{% block dashboard_notif %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            View Due Diligence work assigned
        </h1>
    </div>
</div>
{% endblock %}
{% block content %}
<br>
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="{% url 'users:home' %}">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">
        View Due Diligence work
    </li>
</ol>
<div id="gpg-land-master" v-cloak>
    <div id="content-wrapper">
        <div class="container-fluid">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Assigned Due Diligence work to Land Master Team
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Date Requested</th>
                                    <th>Due Date</th>
                                    <th>Company Name</th>
                                    <th>Company Owner</th>
                                    <th>Parcel Number</th>
                                    <th>Account number</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="14" class="text-center bg-warning" v-if="!dueDiligences.length">You have no Due Diligence work assigned to the Land Master Team.</td>
                                </tr>
                                <tr class="odd gradeX" v-for="(dueDiligences, i) in paginatedRecords">
                                    <td>[[ dueDiligences.date_requested ]]</td>
                                    <td>[[ dueDiligences.due_date ]]</td>
                                    <td>[[ dueDiligences.company_name ]]</td>
                                    <td>[[ dueDiligences.company_owner_or_requestor ]]</td>
                                    <td>[[ dueDiligences.parcel_number ]]</td>
                                    <td>[[ dueDiligences.account_number ]]</td>
                                    <td><button class="btn btn-primary" type="button" data-toggle="modal"
                                            data-target="#editModal"
                                            v-on:click="viewDueDiligence(dueDiligences.id)">View</button></td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- pagination -->
                        <nav class="pagination-wrapper pull-right" v-if="endPage > 1">
                            <ul class="pagination justify-content-end">
                                <li v-bind:class="[{disabled: currentPage === 1}, 'page-item']">
                                    <a class="page-link" tabindex="-1" v-on:click="goToPage(currentPage - 1)">
                                        Previous
                                    </a>
                                </li>
                                <li v-for="pageNumber in pages"
                                    v-bind:class="[{active: pageNumber === currentPage}, 'page-item']">
                                    <a class="page-link" v-on:click="goToPage(pageNumber)">
                                        [[ pageNumber ]]
                                    </a>
                                </li>
                                <li v-bind:class="[{disabled: (currentPage * 1) === totalPages}, 'page-item']">
                                    <a class="page-link" v-on:click="goToPage(currentPage + 1)">
                                        Next
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <!-- end of pagination -->
                    </div>
                    <!-- show a specific info based on view -->
                    <!-- Modal -->
                    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                        aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                </div>
                                <div class="modal-body">
                                    <form v-on:submit.prevent="updateDueDiligence()">
                                        <div class="modal-body">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    Due Diligence work Information for [[
                                                    currentDueDiligence.company_name ]]
                                                </div>
                                                <div class="panel-body">
                                                    <h4>
                                                        Due Diligence Informations
                                                    </h4>
                                                    <div class="row">
                                                        <div class="form-group col-md-4 col-sm-12 ">
                                                            <label>Date Requested</label>
                                                            <input type="date" class="form-control form-control-sm"
                                                                v-model="currentDueDiligence.date_requested"
                                                                {% if request.user.is_staffs %}disabled{% elif request.user.is_client %}{% endif %}>
                                                        </div>
                                                        <div class="form-group col-md-4 col-sm-12">
                                                            <label>Due Date</label>
                                                            <input type="date" class="form-control form-control-sm"
                                                                v-model="currentDueDiligence.due_date"
                                                                {% if request.user.is_staffs %}disabled{% elif request.user.is_client %}{% endif %}>
                                                        </div>
                                                        <div class="form-group col-md-4 col-sm-12">
                                                            <label>Company Name</label>
                                                            <input type="text" class="form-control"
                                                                v-model="currentDueDiligence.company_name"
                                                                {% if request.user.is_staffs %}disabled{% elif request.user.is_client %}{% endif %}>
                                                        </div>
                                                        <div class="form-group col-md-4 col-sm-12">
                                                            <label>Company Owner</label>
                                                            <input type="text" class="form-control"
                                                                v-model="currentDueDiligence.company_owner_or_requestor"
                                                                {% if request.user.is_staffs %}disabled{% elif request.user.is_client %}{% endif %}>
                                                        </div>
                                                    </div>
                                                    <hr>
                                                    <h4>Land Data Informations</h4>
                                                    <div class="row">
                                                        <div class="form-group col-md-4 col-sm-12">
                                                            <label>Owner's Name</label>
                                                            <input type="text" class="form-control"
                                                                v-model="currentDueDiligence.owner_name"
                                                                {% if request.user.is_staffs %}{% elif request.user.is_client %}disabled{% endif %}>
                                                        </div>
                                                        <div class="form-group col-md-4 col-sm-12">
                                                            <label>Parcel Number</label>
                                                            <input type="text" class="form-control"
                                                                v-model="currentDueDiligence.parcel_number"
                                                                {% if request.user.is_staffs %}disabled{% elif request.user.is_client %}disabled{% endif %}>
                                                        </div>
                                                        <div class="form-group col-md-4 col-sm-12">
                                                            <label>Account Number</label>
                                                            <input type="text" class="form-control"
                                                                v-model="currentDueDiligence.account_number"
                                                                {% if request.user.is_staffs %}{% elif request.user.is_client %}disabled{% endif %}>
                                                        </div>
                                                        <div class="form-group col-md-4 col-sm-12">
                                                            <label>Property Address</label>
                                                            <input type="text" class="form-control"
                                                                v-model="currentDueDiligence.property_address"
                                                                {% if request.user.is_staffs %}{% elif request.user.is_client %}disabled{% endif %}>
                                                        </div>
                                                        <div class="form-group col-md-4 col-sm-12">
                                                            <label>County</label>
                                                            <input type="text" class="form-control"
                                                                v-model="currentDueDiligence.county"
                                                                {% if request.user.is_staffs %}{% elif request.user.is_client %}disabled{% endif %}>
                                                        </div>
                                                        <div class="form-group col-md-4 col-sm-12">
                                                            <label>Lot Number</label>
                                                            <input type="text" class="form-control"
                                                                v-model="currentDueDiligence.lot_number"
                                                                {% if request.user.is_staffs %}{% elif request.user.is_client %}disabled{% endif %}>
                                                        </div>
                                                        <div class="form-group col-md-4 col-sm-12">
                                                            <label>Legal Description</label>
                                                            <input type="text" class="form-control"
                                                                v-model="currentDueDiligence.legal_description"
                                                                {% if request.user.is_staffs %}{% elif request.user.is_client %}disabled{% endif %}>
                                                        </div>
                                                        <div class="form-group col-md-4 col-sm-12">
                                                            <label>Parcel Size</label>
                                                            <input type="text" class="form-control"
                                                                v-model="currentDueDiligence.parcel_size"
                                                                {% if request.user.is_staffs %}{% elif request.user.is_client %}disabled{% endif %}>
                                                        </div>
                                                        <div class="form-group col-md-4 col-sm-12">
                                                            <label>GPS Coordinates</label>
                                                            <input type="text" class="form-control"
                                                                v-model="currentDueDiligence.gps_coordinates"
                                                                {% if request.user.is_staffs %}{% elif request.user.is_client %}disabled{% endif %}>
                                                        </div>
                                                        <div class="form-group col-md-4 col-sm-12">
                                                            <label>GPS Coordinates 4 corners</label>
                                                            <input type="text" class="form-control"
                                                                v-model="currentDueDiligence.gpgs_coordinates_4_corners"
                                                                {% if request.user.is_staffs %}{% elif request.user.is_client %}disabled{% endif %}>
                                                        </div>
                                                        <div class="form-group col-md-4 col-sm-12">
                                                            <label>Google Map Link</label>
                                                            <input type="url" class="form-control"
                                                                v-model="currentDueDiligence.google_map_link"
                                                                {% if request.user.is_staffs %}{% elif request.user.is_client %}disabled{% endif %}>
                                                        </div>
                                                        <div class="form-group col-md-4 col-sm-12">
                                                            <label>Elevation</label>
                                                            <input type="text" class="form-control"
                                                                v-model="currentDueDiligence.elevation"
                                                                {% if request.user.is_staffs %}{% elif request.user.is_client %}disabled{% endif %}>
                                                        </div>
                                                        <div class="form-group col-md-4 col-sm-12">
                                                            <label>Assessed Value</label>
                                                            <input type="text" class="form-control"
                                                                v-model="currentDueDiligence.assessed_value"
                                                                {% if request.user.is_staffs %}{% elif request.user.is_client %}disabled{% endif %}>
                                                        </div>
                                                        <div class="form-group col-md-4 col-sm-12">
                                                            <label>Access to Property</label>
                                                            <input type="text" class="form-control"
                                                                v-model="currentDueDiligence.access_to_property"
                                                                {% if request.user.is_staffs %}{% elif request.user.is_client %}disabled{% endif %}>
                                                        </div>
                                                    </div>
                                                    <hr>
                                                    <h4>
                                                        Additional Data Informations
                                                    </h4>
                                                    <div class="row">
                                                        <div class="form-group col-md-4 col-sm-12">
                                                            <label>Closest Major City</label>
                                                            <input type="text" class="form-control"
                                                                v-model="currentDueDiligence.closest_major_city"
                                                                {% if request.user.is_staffs %}{% elif request.user.is_client %}disabled{% endif %}>
                                                        </div>
                                                        <div class="form-group col-md-4 col-sm-12">
                                                            <label>Closest minor town</label>
                                                            <input type="text" class="form-control"
                                                                v-model="currentDueDiligence.closest_minor_town"
                                                                {% if request.user.is_staffs %}{% elif request.user.is_client %}disabled{% endif %}>
                                                        </div>
                                                        <div class="form-group col-md-4 col-sm-12">
                                                            <label>Nearby attractions</label>
                                                            <input type="text" class="form-control"
                                                                v-model="currentDueDiligence.nearby_attractions"
                                                                {% if request.user.is_staffs %}{% elif request.user.is_client %}disabled{% endif %}>
                                                        </div>
                                                    </div>
                                                    <hr>
                                                    <h4>
                                                        County Data Informations
                                                    </h4>
                                                    <div class="row">
                                                        <div class="form-group col-md-4 col-sm-12">
                                                            <label>Assessor Website</label>
                                                            <input type="url" class="form-control"
                                                                v-model="currentDueDiligence.assessor_website"
                                                                {% if request.user.is_staffs %}{% elif request.user.is_client %}disabled{% endif %}>
                                                        </div>
                                                        <div class="form-group col-md-4 col-sm-12">
                                                            <label>Treasurer Website</label>
                                                            <input type="url" class="form-control"
                                                                v-model="currentDueDiligence.treasurer_website"
                                                                {% if request.user.is_staffs %}{% elif request.user.is_client %}disabled{% endif %}>
                                                        </div>
                                                        <div class="form-group col-md-4 col-sm-12">
                                                            <label>Reorder/Clerk Website</label>
                                                            <input type="url" class="form-control form-control-sm"
                                                                v-model="currentDueDiligence.reorder_clerk_website"
                                                                {% if request.user.is_staffs %}{% elif request.user.is_client %}disabled{% endif %}>
                                                        </div>
                                                        <div class="form-group col-md-4 col-sm-12">
                                                            <label>Zoning Department Website</label>
                                                            <input type="url" class="form-control"
                                                                v-model="currentDueDiligence.zoning_department_website"
                                                                {% if request.user.is_staffs %}{% elif request.user.is_client %}disabled{% endif %}>
                                                        </div>
                                                        <div class="form-group col-md-4 col-sm-12">
                                                            <label>GIS Website</label>
                                                            <input type="url" class="form-control"
                                                                v-model="currentDueDiligence.gis_website"
                                                                {% if request.user.is_staffs %}{% elif request.user.is_client %}disabled{% endif %}>
                                                        </div>
                                                        <div class="form-group col-md-4 col-sm-12">
                                                            <label>CAD Website</label>
                                                            <input type="url" class="form-control"
                                                                v-model="currentDueDiligence.cad_website"
                                                                {% if request.user.is_staffs %}{% elif request.user.is_client %}disabled{% endif %}>
                                                        </div>
                                                        <div class="form-group col-md-4 col-sm-12">
                                                            <label>Planning Department Website</label>
                                                            <input type="url" class="form-control"
                                                                v-model="currentDueDiligence.planning_department_contact"
                                                                {% if request.user.is_staffs %}{% elif request.user.is_client %}disabled{% endif %}>
                                                        </div>
                                                        <div class="form-group col-md-4 col-sm-12">
                                                            <label>Reorder/Clerk Contact</label>
                                                            <input type="text" class="form-control"
                                                                v-model="currentDueDiligence.recorder_clerk_contact"
                                                                {% if request.user.is_staffs %}{% elif request.user.is_client %}disabled{% endif %}>
                                                        </div>
                                                    </div>
                                                    <hr>
                                                    <h4>Tax Data Information</h4>
                                                    <div class="row">
                                                        <div class="form-group col-md-5 col-sm-12">
                                                            <label>Back Taxes owed? If so, amount owed.</label>
                                                            <input type="text" class="form-control"
                                                                v-model="currentDueDiligence.back_taxes"
                                                                {% if request.user.is_staffs %}{% elif request.user.is_client %}disabled{% endif %}>
                                                        </div>
                                                        <div class="form-group col-md-7 col-sm-12">
                                                            <label>Tax Liens? If so, amount owed.</label>
                                                            <input type="text" class="form-control"
                                                                v-model="currentDueDiligence.tax_liens"
                                                                {% if request.user.is_staffs %}{% elif request.user.is_client %}disabled{% endif %}>
                                                        </div>
                                                        <div class="form-group col-md-4 col-sm-12">
                                                            <label>Annual Property Taxes</label>
                                                            <input type="text" class="form-control"
                                                                v-model="currentDueDiligence.annual_property_taxes"
                                                                {% if request.user.is_staffs %}{% elif request.user.is_client %}disabled{% endif %}>
                                                        </div>
                                                        <div class="form-group col-md-4 col-sm-12">
                                                            <label>Is property part of an HOA?</label>
                                                            <input type="text" class="form-control"
                                                                v-model="currentDueDiligence.is_property_part_of_an_hoa"
                                                                {% if request.user.is_staffs %}{% elif request.user.is_client %}disabled{% endif %}>
                                                        </div>
                                                        <div class="form-group col-md-4 col-sm-12">
                                                            <label>Is so how much are the dues?</label>
                                                            <input type="text" class="form-control"
                                                                v-model="currentDueDiligence.how_much_dues"
                                                                {% if request.user.is_staffs %}{% elif request.user.is_client %}disabled{% endif %}>
                                                        </div>
                                                    </div>
                                                    <hr>
                                                    <h4>Zoning Data Information</h4>
                                                    <div class="row">
                                                        <div class="form-group col-md-4 col-sm-12">
                                                            <label>Zoning</label>
                                                            <input type="text" class="form-control"
                                                                v-model="currentDueDiligence.zoning"
                                                                {% if request.user.is_staffs %}{% elif request.user.is_client %}disabled{% endif %}>
                                                        </div>
                                                        <div class="form-group col-md-4 col-sm-12">
                                                            <label>Terrain Type</label>
                                                            <input type="text" class="form-control"
                                                                v-model="currentDueDiligence.terrain_type"
                                                                {% if request.user.is_staffs %}{% elif request.user.is_client %}disabled{% endif %}>
                                                        </div>
                                                        <div class="form-group col-md-4 col-sm-12">
                                                            <label>Property use code</label>
                                                            <input type="text" class="form-control"
                                                                v-model="currentDueDiligence.property_use_code"
                                                                {% if request.user.is_staffs %}{% elif request.user.is_client %}disabled{% endif %}>
                                                        </div>
                                                        <div class="form-group col-md-4 col-sm-12">
                                                            <label>What can be built on the property?</label>
                                                            <input type="text" class="form-control"
                                                                v-model="currentDueDiligence.what_can_be_built"
                                                                {% if request.user.is_staffs %}{% elif request.user.is_client %}disabled{% endif %}>
                                                        </div>
                                                        <div class="form-group col-md-4 col-sm-12">
                                                            <label>Time limit to build</label>
                                                            <input type="text" class="form-control"
                                                                v-model="currentDueDiligence.time_limit_to_build"
                                                                {% if request.user.is_staffs %}{% elif request.user.is_client %}disabled{% endif %}>
                                                        </div>
                                                        <div class="form-group col-md-4 col-sm-12">
                                                            <label>Can you camp on the property?</label>
                                                            <input type="text" class="form-control"
                                                                v-model="currentDueDiligence.can_camp"
                                                                {% if request.user.is_staffs %}{% elif request.user.is_client %}disabled{% endif %}>
                                                        </div>
                                                        <div class="form-group col-md-4 col-sm-12">
                                                            <label>RV's allowed on the property?</label>
                                                            <input type="text" class="form-control"
                                                                v-model="currentDueDiligence.rv_allowed"
                                                                {% if request.user.is_staffs %}{% elif request.user.is_client %}disabled{% endif %}>
                                                        </div>
                                                        <div class="form-group col-md-4 col-sm-12">
                                                            <label>Mobile homes allowed on property?</label>
                                                            <input type="text" class="form-control"
                                                                v-model="currentDueDiligence.mobile_homes"
                                                                {% if request.user.is_staffs %}{% elif request.user.is_client %}disabled{% endif %}>
                                                        </div>
                                                        <div class="form-group col-md-4 col-sm-12">
                                                            <label>Is the property in the flood zone area?</label>
                                                            <input type="text" class="form-control"
                                                                v-model="currentDueDiligence.is_property_flood_zone_area"
                                                                {% if request.user.is_staffs %}{% elif request.user.is_client %}disabled{% endif %}>
                                                        </div>
                                                        <div class="form-group col-md-6 col-sm-12">
                                                            <label>Notes on mobile homes?</label>
                                                            <textarea cols="80" rows="10" class="form-control"
                                                                v-model="currentDueDiligence.notes_on_mobile_homes"
                                                                {% if request.user.is_staffs %}{% elif request.user.is_client %}disabled{% endif %}>
                                                    </textarea>
                                                        </div>
                                                        <div class="form-group col-md-6 col-sm-12">
                                                            <label>Notes on Camping?</label>
                                                            <textarea cols="80" rows="10" class="form-control"
                                                                v-model="currentDueDiligence.notes_on_camping"
                                                                {% if request.user.is_staffs %}{% elif request.user.is_client %}disabled{% endif %}>
                                                    </textarea>
                                                        </div>
                                                        <div class="form-group col-md-12 col-sm-12">
                                                            <label>Note's on RV's</label>
                                                            <textarea cols="80" rows="10" class="form-control"
                                                                v-model="currentDueDiligence.note_on_rv"
                                                                {% if request.user.is_staffs %}{% elif request.user.is_client %}disabled{% endif %}>
                                                    </textarea>
                                                        </div>
                                                    </div>
                                                    <hr>
                                                    <h4>Data on Utilities Informations</h4>
                                                    <div class="row">
                                                        <div class="form-group col-md-4 col-sm-12">
                                                            <label>Water?</label>
                                                            <input type="text" class="form-control"
                                                                v-model="currentDueDiligence.water"
                                                                {% if request.user.is_staffs %}{% elif request.user.is_client %}disabled{% endif %}>
                                                        </div>
                                                        <div class="form-group col-md-4 col-sm-12">
                                                            <label>Sewer or Septic?</label>
                                                            <select class="form-control"
                                                                v-model="currentDueDiligence.sewer_or_septic"
                                                                {% if request.user.is_staffs %}{% elif request.user.is_client %}disabled{% endif %}>
                                                                <option>Sewer</option>
                                                                <option>Septic</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group col-md-4 col-sm-12">
                                                            <label>Power(Electricity)?</label>
                                                            <input type="text" class="form-control"
                                                                v-model="currentDueDiligence.power"
                                                                {% if request.user.is_staffs %}{% elif request.user.is_client %}disabled{% endif %}>
                                                        </div>
                                                        <div class="form-group col-md-4 col-sm-12">
                                                            <label>Gas?</label>
                                                            <input type="text" class="form-control"
                                                                v-model="currentDueDiligence.gas"
                                                                {% if request.user.is_staffs %}{% elif request.user.is_client %}disabled{% endif %}>
                                                        </div>
                                                        <div class="form-group col-md-4 col-sm-12">
                                                            <label>Waste?</label>
                                                            <input type="text" class="form-control"
                                                                v-model="currentDueDiligence.waste"
                                                                {% if request.user.is_staffs %}{% elif request.user.is_client %}disabled{% endif %}>
                                                        </div>
                                                    </div>
                                                    <hr>
                                                    <h4>Notes</h4>
                                                    <div class="row">
                                                        <div class="form-group col-md-12 col-sm-12">
                                                            <label>Notes from the Client</label>
                                                            <textarea cols="30" rows="10" class="form-control"
                                                                v-model="currentDueDiligence.notes_from_the_client"
                                                                {% if request.user.is_staffs %}disabled{% elif request.user.is_client %}{% endif %}></textarea>
                                                        </div>
                                                        <div class="form-group col-md-12 col-sm-12">
                                                            <label>Notes from the Quality Specialist</label>
                                                            <textarea cols="30" rows="10" class="form-control"
                                                                v-model="currentDueDiligence.notes_from_the_quality_specialist"
                                                                {% if request.user.is_client %}disabled{% elif request.user.is_staffs %}{% endif %}></textarea>
                                                        </div>
                                                        <div class="form-group col-md-12 col-sm-12">
                                                            <label>Notes from the Virtual Assistant</label>
                                                            <textarea cols="30" rows="10" class="form-control"
                                                                v-model="currentDueDiligence.notes_from_land_master_team"
                                                                {% if request.user.is_client %}disabled{% elif request.user.is_staffs %}{% endif %}></textarea>
                                                        </div>
                                                        <div class="form-group col-md-4 col-sm-12">
                                                            <label>Date Completed</label>
                                                            <input type="date" class="form-control"
                                                                v-model="currentDueDiligence.date_completed"
                                                                {% if request.user.is_client %}disabled{% elif request.user.is_staffs %}{% endif %}>
                                                        </div>
                                                        <div class="form-group col-md-4 col-sm-12">
                                                            <label>DD Team Assigned VA</label>
                                                            <select class="form-control"
                                                                v-model="currentDueDiligence.dd_team_assigned_va"
                                                                {% if request.user.is_staffs %}{% elif request.user.is_client %}disabled{% endif %}
                                                                required>
                                                                <option v-for="va in virtualAssistants">[[ va.name ]]
                                                                </option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group col-md-4 col-sm-12">
                                                            <label>Project Manager</label>
                                                            <select class="form-control"
                                                                v-model="currentDueDiligence.project_manager"
                                                                {% if request.user.is_staffs %}{% elif request.user.is_client %}disabled{% endif %}
                                                                required>
                                                                <option v-for="pm in projectManagers">[[
                                                                    pm.project_manager ]]</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group col-md-4 col-sm-12">
                                                            <label>Status of Due Diligence</label>
                                                            <select class="form-control"
                                                                v-model="currentDueDiligence.status_of_dd"
                                                                {% if request.user.is_staffs %}{% elif request.user.is_client %}disabled{% endif %}
                                                                required>
                                                                <option>Project Managers Review</option>
                                                                <option>Submitted to the Client</option>
                                                                <option>Approved by the Client</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group col-md-4 col-sm-12">
                                                            <label>Total minutes/hours duration</label>
                                                            <input type="text" class="form-control"
                                                                v-model="currentDueDiligence.total_minutes_hours_duration"
                                                                {% if request.user.is_client %}disabled{% elif request.user.is_staffs %}{% endif %}>
                                                        </div>
                                                        <div class="form-group col-md-8 col-sm-12">
                                                            <label>URL to Images or Docs related to the DD Requested</label>
                                                            <input type="url" class="form-control"
                                                                v-model="currentDueDiligence.attachments"
                                                                {% if request.user.is_client %}disabled{% elif request.user.is_staffs %}{% endif %}>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-info"
                                                data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                    <!-- /.modal -->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}