{% extends 'base.html' %}
{% load templatetagname %}
{% block title %}
GPG System | View Due Diligence
{% endblock %}
{% block dashboard_notif %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            View Due Diligence work assigned
        </h1>
    </div>
</div>
{% endblock %}
{% block content %}
<br>
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="{% url 'users:home' %}">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">
        View Due Diligence work
    </li>
</ol>
<div id="gpg-land-master" v-cloak>
    <div id="content-wrapper">
        <div class="container-fluid">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Assigned Due Diligence work to Land Master Team
                    </div>
                    <div class="panel-body">
                        <div style="overflow-x: auto;">
                            <a href="#" class="btn btn-primary btn-sm fa fa-file-excel-o pull-right"
                            v-on:click.prevent="generateExcelFile" data-placement="top" title="Extract" style="margin-bottom:15px;"></a>
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        {% if request.user.is_staffs %}
                                        <th>Date Requested</th>
                                        <th>Due Date</th>
                                        <th>Company Owner's name or Requestor</th>
                                        <th>Company Name</th>
                                        <th>Assessors Parcel Number</th>
                                        <th>Project Manager</th>
                                        <th>Status</th>
                                        <th>Date of Completion</th>
                                        {% elif request.user.is_client %}
                                        <th>Date Requested</th>
                                        <th>Due Date</th>
                                        <th>Company Owner's name or Requestor</th>
                                        <th>Company Name</th>
                                        <th>Assessors Parcel Number</th>
                                        <th>Project Manager</th>
                                        <th>Due Diligence Status</th>
                                        <th>Date Of Completion</th>
                                        {% endif %}
                                        <th>Action</th>
                                        <th>PDF</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="14" class="text-center bg-warning" v-if="!dueDiligences.length">You have no Due Diligence work assigned to the Land Master Team.</td>
                                    </tr>
                                    <tr class="odd gradeX" v-for="(dueDiligences, i) in paginatedRecords">
                                        {% if request.user.is_staffs %}
                                            <td>[[ dueDiligences.date_requested ]]</td>
                                            <td>[[ dueDiligences.due_date ]]</td>
                                            <td>[[ dueDiligences.company_owner_or_requestor ]]</td>
                                            <td>[[ dueDiligences.company_name ]]</td>
                                            <td>[[ dueDiligences.parcel_number ]]</td>
                                            <td>[[ dueDiligences.project_manager ]]</td>
                                            <td>[[ dueDiligences.status_of_dd ]]</td>
                                            <td>[[ dueDiligences.date_completed ]]</td>
                                        {% elif request.user.is_client %}
                                            <td>[[ dueDiligences.date_requested ]]</td>
                                            <td>[[ dueDiligences.due_date ]]</td>
                                            <td>[[ dueDiligences.company_owner_or_requestor ]]</td>
                                            <td>[[ dueDiligences.company_name ]]</td>
                                            <td>[[ dueDiligences.parcel_number ]]</td>
                                            <td>[[ dueDiligences.project_manager ]]</td>
                                            <td>[[ dueDiligences.status_of_dd ]]</td>
                                            <td>[[ dueDiligences.date_completed ]]</td>
                                        {% endif %}
                                        <td><button class="btn btn-primary btn-sm" type="button" data-toggle="modal"
                                                data-target="#editModal"
                                                data-placement="top" title="View Information for this work"
                                                v-on:click="viewDueDiligence(dueDiligences.id)"><i class="fa fa-eye"></i></button>
                                            {% if request.user.is_client %}    
                                            <button class="btn btn-success btn-sm" type="button" data-toggle="modal"
                                                data-target="#otherModal"
                                                data-placement="top" title="View Other Information"
                                                v-on:click="viewDueDiligence(dueDiligences.id)"><i
                                                    class="fa fa-info"></i></button>
                                           <button class="btn btn-info btn-sm" type="button" data-toggle="modal"
                                                data-target="#operatorModal" data-placement="top" title="View Operator Details"
                                                v-on:click="viewDueDiligence(dueDiligences.id)"><i
                                                    class="fa fa-user"></i></button>
                                            <button class="btn btn-info btn-sm" type="button" data-toggle="modal"
                                                data-target="#statusModal" data-placement="top" title="View Statuses"
                                                v-on:click="viewDueDiligence(dueDiligences.id)"><i
                                                    class="fa fa-cog"></i></button>
                                            <button class="btn btn-info btn-sm" type="button" data-toggle="modal"
                                                data-target="#teamModal"
                                                data-placement="top" title="View Team Assigned"
                                                v-on:click="viewDueDiligence(dueDiligences.id)"><i
                                                    class="fa fa-users"></i></button>
                                            {% endif %} </td>
                                        <td>
                                            <button type="button" class="btn btn-success btn-sm"
                                                v-on:click="generatePDF(dueDiligences.id, i)">
                                                <i v-if="buttonsLoading[i]" class="fa fa-spinner fa-spin"></i>
                                                <i v-else class="fa fa-print filter"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- pagination -->
                        <nav class="pagination-wrapper pull-right" v-if="endPage > 1">
                            <ul class="pagination justify-content-end">
                                <li v-bind:class="[{disabled: currentPage === 1}, 'page-item']">
                                    <a class="page-link" tabindex="-1" v-on:click="goToPage(currentPage - 1)">
                                        Previous
                                    </a>
                                </li>
                                <li v-for="pageNumber in pages"
                                    v-bind:class="[{active: pageNumber === currentPage}, 'page-item']">
                                    <a class="page-link" v-on:click="goToPage(pageNumber)">
                                        [[ pageNumber ]]
                                    </a>
                                </li>
                                <li v-bind:class="[{disabled: (currentPage * 1) === totalPages}, 'page-item']">
                                    <a class="page-link" v-on:click="goToPage(currentPage + 1)">
                                        Next
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <!-- end of pagination -->
                    </div>
                    <!-- show a specific info based on view -->

                    <!-- Modal -->
                    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                        aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Due Diligence information for [[ currentDueDiligence.company_name ]]</h4>
                                </div>
                                <div class="modal-body">
                                    <form v-on:submit.prevent="updateDueDiligence">
                                        <div class="modal-body">
                                        </div>
                                        <div class="panel-group" id="accordion">
                                            <div class="panel panel-primary">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordion"
                                                            href="#collapseOne">Due Diligence work Information for [[
                                                            currentDueDiligence.company_name ]]</a>
                                                    </h4>
                                                </div>
                                                <div id="collapseOne" class="panel-collapse collapse in">
                                                    <div class="panel-body">
                                                        {% include 'landmaster/view_dd_info.html' %}
                                                    </div>
                                                </div>
                                            </div>
                                            {% if request.user.is_staffs %}
                                            <div class="panel panel-success">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordion"
                                                            href="#collapseTwo">Other informations for Parcel
                                                            Number <strong>[[ currentDueDiligence.parcel_number
                                                                ]]</strong></a>
                                                    </h4>
                                                </div>
                                                <div id="collapseTwo" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                        {% include 'landmaster/other_info.html' %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordion"
                                                            href="#collapse5">Operator Details for Parcel
                                                            Number <strong>[[ currentDueDiligence.parcel_number
                                                                ]]</strong></a>
                                                    </h4>
                                                </div>
                                                <div id="collapse5" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                        {% include 'landmaster/view_operator_details.html' %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-warning">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordion"
                                                            href="#collapse4">Statuses & Dates of Completion for Parcel
                                                            Number <strong>[[ currentDueDiligence.parcel_number
                                                                ]]</strong></a>
                                                    </h4>
                                                </div>
                                                <div id="collapse4" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                        {% include 'landmaster/view_dd_status.html' %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-info">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordion"
                                                            href="#collapseThree">Due Diligence Team member(s) assigned for Parcel
                                                            number [[
                                                            currentDueDiligence.parcel_number ]]</a>
                                                    </h4>
                                                </div>
                                                <div id="collapseThree" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                        {% include 'landmaster/team_assigned.html' %}
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-info"
                                                data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                    <!-- /.modal -->

                    <!-- Modal for Other Info -->
                    <div class="modal fade" id="otherModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                        aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Other Information for Parcel number [[ currentDueDiligence.parcel_number ]]</h4>
                                </div>
                                    <div class="modal-body">
                                        <div class="panel panel-success">
                                            <div class="panel-heading">
                                                Notes
                                            </div>
                                            <div class="panel-body">
                                                {% include 'landmaster/other_info.html' %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                    <!-- /.modal -->

                    <!-- Modal for Date Completion Info -->
                    <div class="modal fade" id="dateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                        aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Date of Completion Information for Parcel number [[
                                        currentDueDiligence.parcel_number ]]</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="panel panel-success">
                                        <div class="panel-heading">
                                            Notes
                                        </div>
                                        <div class="panel-body">
                                            {% include 'landmaster/view_dd_date_info.html' %}
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                    <!-- /.modal -->

                    <!-- Modal for dd team asssigned -->
                    <div class="modal fade" id="teamModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                        aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">VA assigned Information for Parcel number [[
                                        currentDueDiligence.parcel_number ]]</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            Team of VAs assigned for each tasks
                                        </div>
                                        <div class="panel-body">
                                            {% include 'landmaster/team_assigned.html' %}
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                    <!-- /.modal -->

                    <!-- Modal for statuses -->
                    <div class="modal fade" id="statusModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                        aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Status & Date of Completion Informations for Parcel number
                                        [[
                                        currentDueDiligence.parcel_number ]]</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            View each statuses & Date of Completion for each tasks
                                        </div>
                                        <div class="panel-body">
                                            {% include 'landmaster/view_dd_status.html' %}
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                    <!-- /.modal -->
                    <!-- Modal for operator details -->
                    <div class="modal fade" id="operatorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                        aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Operator Informations for Parcel number
                                        [[
                                        currentDueDiligence.parcel_number ]]</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            View each Operator's details for each tasks
                                        </div>
                                        <div class="panel-body">
                                            {% include 'landmaster/view_operator_details.html' %}
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                    <!-- /.modal -->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}